{% extends 'profile/base.html' %}
{% load crispy_forms_tags %}
{% block content_1 %}
<div class="col_A_in col_A_in_2">
    <div class="onboarding_A">
        <div class="row clearfix">
            <div class="col-md-8 col-md-offset-2 clearfix">
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Basic Information</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.thumbnail_image|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ form.phone_number|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                          {{ form.first_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.about|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.company|as_crispy_field }}
                            </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ form.company_registration_year|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ form.year_operation|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                          {{ form.company_location|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ form.role|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                          {{ form.physical_address|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                    {{ form.company_website|as_crispy_field }}
                            </div>
                    </div>

                    <button class='btn btn-success'>Go to next step</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}