{% extends 'profile/base4.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block content_1 %}

<div class="col_A_in col_A_in_2">
  <div class="topbar_2">
    <div class="row clearfix">
      <div class="col-md-6 clearfix">
        <p class="p_title">Funders</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class='col-md-12 clearfix'>
      <div class="row clearfix">
        {% for obj in object_list %}
        <div class="col-md-2 box_box">
          <div class="box_box_in">
            <figure class="box_avi">
              <!-- Square, 350 X 350 PX -->
              {% if obj.investor_profile.thumbnail_image %}
              <img src="{{ obj.investor_profile.thumbnail_image.url }}">
              {% else %}
              {% if obj.investor_profile.gender == 'Male' or obj.investor_profile.gender == 'Other' %}
              <img src="{% static 'img/blue-user-icon.svg' %}">
              {% else %}
              <img src="{% static 'img/no-img.jpg' %}">
              {% endif %}
              {% endif %}
            </figure>
            <figure class="box_details">
              <p class="box_title"><a
                  href="{% url 'investor_profile' obj.pk %}">{{obj.investor_profile.company|title}}<br>{{obj.investor_profile.fullname|title}}</a>
              </p>
              <div class="box_social">
              </div>
            </figure>
          </div>
        </div>
        {% endfor %}

        {% if not_found %}
        <h2 class="text-center"><b>Your search did not match any Funder</b></h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block content_2 %}
<div class="company_filter">
  <h4>Filter Funders</h4>
  <ul class="search_A search_A2">
    <form method='post'>
      <li>
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Company Name: </label>
          <input id="name" class='form-control' name='investor-name' />
        </div>
        {{form|crispy }}
      </li>
      <li>
        <button class='btn btn-success'>Filter</button>
      </li>
    </form>
  </ul>
</div>
{% endblock %}