{% extends 'profile/base4.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block content_1 %}

<!--partners-box area start-->
    <div id="parterns-box-id" class="partners-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                   <div class="partners-box-title">
                       <h2>Funders</h2>
                    <!--  Filter Icon-->
                       <div class="partners-filter">
                           <p>
                               <i class="fas fa-filter"></i> Filters
                           </p>
                       </div>
                      <!--  Filter Icon End--> 
                    <!--   Filter Dropdown-->
                       <div id="funder-filter-dropdown-item">
                           <form method="post">
						   {% csrf_token %}
                               <div class="funder-company-name">
                                   <label for="">Company Name</label>
                                   <input id="name"  type="text" placeholder="Company Name" name='investor-name'>
                               </div>
                               <div class="funder-sectors">
                                <label for="">Sectors</label>
                                <select style="width: 200px"  id="sectorsactive" >         
                                        <option value="agribusiness">agribusiness</option>
                                        <option value="fmg retail">fmcg-retail </option>
                                        <option value="technology">technology</option>
                                        <option value="creative">creative</option>
                                        <option value="education">education</option>
                                        <option value="health">health</option>
                                
                                    </select>

                                    
                               </div>
                               <div class="funder-company-interest">
                                   <label for="">Countries of interest</label>
								   
									<select   class="company-stage-select" style="width: 200px" name="files3" id="files3">
										<option value="">Countries</option>
                                          <option value="egypt">Egypt</option>
                                        <option value="sa">South Africa</option>
                                        <option value="morocco">Morocco</option>
                                        <option value="ethiopia">Ethiopia</option>
                                        <option value="kenya">Kenya</option>
                                        <option value="rwanda">Rwanda</option>
                                        <option value="tanzania">Tanzania</option>
                                        <option value="nigeria">Nigeria</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="iv">Ivory Coast</option>
                                        <option value="algeria">Algeria</option>

                                    </select>
									
                                    
                               </div>
                               <div class="funder-exits-executed">
                                    <label for="">Company Stage interested in</label>

                                   <select class="company-stage-select" name="files2" id="files2">                      <option value="">None</option>
                                          <option value=""><5</option>
                                          <option value="">5-10</option>
                                          <option value="">10-20</option>
                                          <option value="">Over 20</option>

                                    </select>
                               </div>
                               <div class="filter-submit">
                                   <input type="submit" value="Filter">
                               </div>
                               
                           </form>
                       </div>
                       
                       <!--   Filter Dropdown End-->
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                   </div>
                    <div class="row">
                        <div class="col-lg-4">
						{% for obj in object_list %}
                            <div class="single-partner-box">
							{% if obj.investor_profile.thumbnail_image %}
							<img src="{{obj.investor_profile.thumbnail_image.url}}">
				  {% else %}
                {% if obj.investor_profile.gender == 'Male' or obj.investor_profile.gender == 'Other' %}
                <img src="{% static 'img/blue-user-icon.svg' %}">
                {% else %}
                <img src="{% static 'img/no-img.jpg' %}">
                {% endif %}
                {% endif %}
                                <h4>{{obj.investor_profile.company|title}}</h4>
                                <p>{{obj.investor_profile.fullname|title}}</p>
                                
                                <a href="{% url 'investor_profile' obj.pk %}" class="single-partner-btn">View Profile</a>
                            </div>
							{% endfor %}
                        </div>
                    </div>
                </div>
                
       <!--  Sidebar area start-->
                <div class="col-lg-4">
                    <div class="profile-sidebar">
            <!--   single sidebar start-->
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Business</h5>
							{% for business in r_businesses %}
                            <div class="widget-elements">
							{% if business.thumbnail_image %}
                                <img src="{{ business.thumbnail_image.url }}" alt="">
                                <p><a href="{% url 'business_profile' business.pk %}">{{business.name}}</a></p>
							{% else %}
							<img src="{% static 'img/no-img.png' %}" alt="">
                                <p><a href="{% url 'business_profile' business.pk %}">{{business.name}}</a></p>
							{% endif %}
                            </div>
                            {% endfor %}
                        </div>
             <!--   single sidebar end-->
             
             <!--   single sidebar start-->  
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Funders</h5>
							{% for funder in r_investor %}
                            <div class="widget-elements">
							{% if funder.thumbnail_image %}
                                <img src="{{ funder.thumbnail_image.url }}">
                                <p>{{funder.investor_profile.user.username}}</p>
								{% else %}
								<img src="{% static 'img/funder.jpg' %}">
                                <p>{{funder.investor_profile.user.username}}</p>
								{% endif %}
                            </div>
                           {% endfor %}
                        </div>
             <!--   single sidebar end-->
                        
            <!--   single sidebar start-->         
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Partners</h5>
							{% for partner in r_supporter %}
                            <div class="widget-elements">
							{% if partner.thumbnail_image %}
                                <img src="{{ partner.thumbnail_image.url }}">
								<p><a href="{% url 'supporter_profile' partner.supporter_profile.pk %}">{{partner.supporter_profile.user.username}}</a></p>
							{% else %}
							<img src="{% static 'img/blue-user-icon.svg' %}">
							<p><a href="{% url 'supporter_profile' partner.supporter_profile.pk %}">{{partner.supporter_profile.user.username}}</a></p>
							{% endif %}
                            </div>
                            {% endfor %}
                        </div>
             <!--   single sidebar end-->
                    </div>
                </div>  
                <!--  Sidebar area end-->                 
           
	 </div>
        </div>
    </div>



{% endblock %}