{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}VentureLift Africa{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/portal-base-dropdown.css' %}" rel="stylesheet">
        {% render_block "css" %}
    </head>
    <body class="portal_base auth_pages">


    <nav id="navbar_out" class="navbar navbar-default navbar-static-top">
        <div class="top_container container">

            <div class="nav_nav_first navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" aria-expanded="false">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/logo3.png' %}" alt="VentureLift Africa Media Centre">
                </a>
            </div>
            <div class="vl_top_top navbar-right collapse navbar-collapse navbar-responsive-collapse">
                <ul class="in_line">
                    <li><a href="/">Home</a></li>
                    <li>
                      <div class="dropdown">
                        <button class="dropbtn">Discover</button>
                        <div class="dropdown-content">
                            <a href="#nogo">Startup</a>
                            <a href="#nogo">SMEs</a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown">
                        <button class="dropbtn">Fund</button>
                        <div class="dropdown-content">
                            <a href="#nogo">Investor</a>
                            <a href="{% url 'crowdfunding:crowdfunderindex' %}" target="_blank">Crowdfunder</a>
                            <a href="#nogo">Lender</a>
                        </div>
                      </div>
                    </li>
                     <li>
                      <div class="dropdown">
                        <button class="dropbtn">Partner</button>
                        <div class="dropdown-content">
                            <a href="#nogo">Trade</a>
                            <a href="#nogo">Supply Chain</a>
                            <a href="#nogo">Technology</a>
                            <a href="#nogo">Talent</a>
                            <a href="#nogo">Professional Services</a>
                        </div>
                      </div>
                    </li>
                    <li><a href="#">Knowledge Center</a></li>
                    <li><a href="/en/media">VLA Media</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a class="btn btn-md btn-primary" href="{% url 'registration_in' %}">Join VentureLift Africa</a></li>
                </ul>
            </div>
            
        </div>
    </nav>


    <div class="content_container">
        {% block content %}{% endblock content %}
    </div>

    <div class="full_width footer">
        {% static_placeholder 'footer' %}
    </div>

      <!-- Bootstrap core JavaScript
        ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>
        window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
      </script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137967572-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137967572-1');
    </script>
    
    </body>
</html>
