{% extends 'portal_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password &mdash; VentureLift Africa{% endblock title %}
{% block content %}

<style type="text/css">
body.auth_pages {
    background: #040439 url('/static/img/signup-bg3.jpg') center center no-repeat !important;
    background-size: cover !important;
}
</style>

<div class="full_width newsletter_A">
  <div class="container newsletter_A_container">

      	<div class="newsletter_container row clearfix">

      		<div class="col-md-4 col-md-offset-4">
	          <div class="full_w_form form_control">
	          	<h4 class="style_4 text-center">Reset Password</h4>
				<form method='post'>
				    {% csrf_token %}
                    {{ form.as_p }}
				    <button type='submit' class='submit_A btn btn-primary'>Change Password</button>
				</form>
	          </div>
       		</div>

        </div>
      </div>
  </div>
</div>




{% endblock %}