{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="full_width h_D">
  <div class="container h_D_container">
    <h2 class="h_title_A">Stories</h2>
    <div class="row clearfix">
      {% for obj in media %}
      <div class="col-md-4 clearfix">
        <div class="in_style_A">
          <a href="{% url 'venturelift_media:media_story' obj.pk %}">
            <figure class="in_style_A_img">
              <img src="{{obj.thumbnail_image.url}}">
            </figure>
            <h3 class="style_C">{{obj.title}}</h3>
          </a>
          <h5 class="meta_A">{{obj.category}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}