{% load cms_tags menu_tags sekizai_tags staticfiles %}
    <div class="full_width primary_footer">
        <div class="full_width footer foot2">
            <div class="container clearfix">
                <ul class="in_style_A_list_A in_style_B1">
                    <li><a href="/about-us">About us</a></li>
                    <li><a href="/team">Leadership</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/help">FAQ</a></li>
                    <li><a href="/advertise">Advertise</a></li>
                    <li><a href="/terms-of-use">Terms of Use</a></li>
                    <li><a href="/contact-us">Contact us</a></li>
                </ul>      
                <ul class="in_style_A_list_A in_style_B3">
                    <li>
                      <ul class="social_icons social_bottom">
                        <li><a class="li" href="https://ke.linkedin.com/company/venturelift-africa"><ion-icon name="logo-linkedin" role="img" class="hydrated" aria-label="logo linkedin"></ion-icon></a></li>
                        <li><a class="tw" href="https://twitter.com/vliftafrica"><ion-icon name="logo-twitter" role="img" class="hydrated" aria-label="logo twitter"></ion-icon></a></li>
                        <li><a class="fb" href="https://facebook.com/vlafrica"><ion-icon name="logo-facebook" role="img" class="hydrated" aria-label="logo facebook"></ion-icon></a></li>
                        <li><a class="ig" href="https://www.instagram.com/vlafrica/"><ion-icon name="logo-instagram" role="img" class="hydrated" aria-label="logo instagram"></ion-icon></a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="in_style_A_list_A in_style_B2">
                    <li class="copright">&copy; 2020 All Rights Reserved</li>
                </ul>                              
            </div>
        </div>        
        {# static_placeholder 'footer' #}
    </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {{ form.media.js }}
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137967572-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137967572-1');
    </script>