{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="home_banner full_width">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-5 col-md-offset-7">
				<div class="home_banner_cap">
					<h1 class="home_banner_cap_header"><span>Driving Greater Diaspora Engagement with Africa</span></h1>
					<h4 class="home_banner_cap_subheader">VentureLift Africa Connects African Early Stage and Growing Companies to Investors and Partners who can Help Them Grow and Scale.</h4>
					<div class="home_banner_cap_cta">
						<a href="{% url 'registration_in' %}">Become a member</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


<div class="home_section_2 full_width">
	<div class="container text-center">
		<h1 class="hs2_title">How VentureLift Africa Works</h1>
		<div class="h4_C_space">
			<h4 class="h4_C">We connect businesses to financial capital through curated matches and link them to trade, supply chain, technology, talent and advisory partners</h4>
		</div>	
		<div class="row clearfix">
			<div class="col-md-4 clearfix">
				<div class="hs2_content">
					<figure class="hs2_icon">
						<img src="{% static 'img/home_icon_1.png' %}">
					</figure>
					<h4>Discover</h4>
					<div class="hs2_cta">
						<a href="{% url 'registration_in' %}">Join as Business</a>
					</div>
					<div class="hs2_more">
						<p>Startup | SMEs</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 clearfix">
				<div class="hs2_content">
					<figure class="hs2_icon">
						<img src="{% static 'img/home_icon_2.png' %}">
					</figure>
					<h4>Fund</h4>
					<div class="hs2_cta">
						<a href="{% url 'registration_in' %}">Join as Funder</a>
					</div>
					<div class="hs2_more">
						<p>Investor | Crowdfunder | Lender</p>
					</div>					
				</div>
			</div>
			<div class="col-md-4 clearfix">
				<div class="hs2_content">
					<figure class="hs2_icon">
						<img src="{% static 'img/home_icon_3.png' %}">
					</figure>
					<h4>Partner</h4>
					<div class="hs2_cta">
						<a href="{% url 'registration_in' %}">Join as Partner</a>
					</div>
					<div class="hs2_more">
						<p>Trade | Supply Chain | Technology | Talent | Professional Services</p>
					</div>					
				</div>
			</div>						
		</div>
	</div>	
</div>





<div class="home_section_3 full_width">
	<div class="container text-center">
		<h1 class="hs3_title">Sectors</h1>
		<div class="row clearfix">
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_1.png' %}">
					</figure>
					<h4>Agribusiness</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_2.png' %}">
					</figure>
					<h4>Creative</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_3.png' %}">
					</figure>
					<h4>Education</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_4.png' %}">
					</figure>
					<h4>Financial Services</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_5.png' %}">
					</figure>
					<h4>FMCG - Retail</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_6.png' %}">
					</figure>
					<h4>Health</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_7.png' %}">
					</figure>
					<h4>Housing & Real Estate</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_8.png' %}">
					</figure>
					<h4>Renewable Energy</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_9.png' %}">
					</figure>
					<h4>Technology</h4>
				</div>
			</div>	
			<div class="col-md-15 clearfix">
				<div class="hs3_content">
					<figure class="hs3_icon">
						<img src="{% static 'img/sector_icon_10.png' %}">
					</figure>
					<h4>Water & Sanitation</h4>
				</div>
			</div>																	
		</div>
	</div>	
</div>


{% endblock content %}