{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="in_page page_banner_A full_width">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="home_banner_cap">
					<h1 class="page_banner_A_h1">Careers</h1>
					<h4>We are building the rest of our team. Please check back soon for updates.</h4>	
				</div>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}
