{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="page_banner_A full_width">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="home_banner_cap">
					<h1 class="page_banner_A_h1">About Us</h1>
[insert graphic of entrepreneur or business]
VentureLift Africa (VLA) launched in 2018 to address resource gaps confronting African startups and growing SMEs, including access to finance, market expansion, human capital and some areas of business education. VLA provides diversified resources to give these companies the best opportunity to grow, expand, create jobs and deliver development outcomes. 
VentureLift Africa (VLA) understands that access to capital represents the most significant gap facing African entrepreneurs but not the only one. 
Based in Nairobi, we help the Africa Diaspora together with other international users engage top startups and growing SMEs across Africa for investment, trade, supply chain procurement, technology transfer and talent recruitment. The global Africa Diaspora totals nearly 140 million and around 46 million in the United States. We aim to curate into Africa more Diaspora engagement beyond remittances and create a stronger economic bridge focusing on regional and international growth of businesses. 
VLA provides capital providers (equity, debt and donation crowdfunding) with vetted investment opportunities and connections to qualified transaction advisors and consultants with local knowledge and track record in Africa. Our media platform offers investors and users news and information on Africa business and market trends. 
Finally, through our in-person and Knowledge Center education modules, VLA provides instruction and training on a comprehensive range of topics from fundraising to mergers and acquisitions for entrepreneurs and managers. 					
				</div>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}