{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}The Team &mdash; VentureLift Africa{% endblock title %}
{% block content %}


<div class="vpage_no_bottom vpage page_wrapper_b in_page page_banner_A full_width">
	
		<div class="rowX clearfix">
			<div class="col-md-X col-md-offset-2X">
				<div class="home_banner_cap">
					<h1 class="page_banner_A_h1 text-center">Leadership</h1>


          <div class="t-class="vpage page_wrapper_b in_page page_banner_A full_width" row clearfix">
            <div class="t-light col-md-12 clearfix text-left">

              <div class="container">
                <div class="t_name"><h3>Dr. Wilmot Allen</h3></div>
                <div class="t_title"><h4>Founder</h4></div> 
                <div class="t_bio">
                    <blockquote><p>Based in Nairobi, Wilmot is an experienced emerging market investor, business advisor, entrepreneur and Africa political economist. Wilmot launched VLA in 2018 inspired by his work in urban economic development in the U.S. and engagement with over 20 African countries during the last two decades. </p></blockquote>

                    <p>Wilmot is also a Venture Partner with RH Managers, a private equity fund investing in healthcare, based in Johannesburg. He previously worked as Director of East Africa with an U.S. investment firm, CrossBoundary LLC, leading the transaction advisory practice for East Africa from Nairobi. Under his leadership, this group served as the transaction team for a USAID initiative, the East Africa Trade and Investment Hub, helping both SMEs, select early-stage companies and investors. This team facilitated over $100 million in closed transactions in only 24 months and established the firm&rsquo;s most successful investment advisory platform.</p>

                    <p>Prior, Wilmot worked with the International Finance Corporation in Washington DC, executing investments totaling over $300million and managing a portfolio of $2.5billion with the private equity and financial institutions groups. At the IFC, he was also Senior Advisor to the CEO on entrepreneurship initiatives in Africa, Asia and the Middle East, in conjunction with the Global Agenda Council on Youth Unemployment at the World Economic Forum. He also helped develop IFC&rsquo;s strategy on fragile and conflict-affected situations. </p>

                    <p>In other roles, Wilmot worked as a venture capital investor with the Commonwealth Enterprise Fund in Boston, a technology M&amp;A investment banker with JPMorgan H&amp;Q to Silicon Valley and international companies in San Francisco and a private placement and IPO investment banker with Merrill Lynch in New York. Wilmot has also worked with the finance and strategy team of the Walt Disney Company (ABC Television) in the office of the CFO in Los Angeles and with a PBS affiliate (KCET) in Hollywood as a creative executive on television programs and documentaries. </p>
                    
                    <p>Wilmot is an advisory board member for Melvin's Tea (Kenya), Popote Payments (Kenya) and Cerchy (Nigeria). He is a business coach with the Shona incubator (Uganda) and Village Capital (Kenya) and a mentor with the first accelerator in Nigeria targeting women CEOs, GreenHouse Lab. He is an alumnus of the Young Global Leader program at the World Economic Forum and served on a Global Agenda Council.</p>

                    <p>Wilmot has a PhD from Georgetown University in Comparative Political Economy, an MBA from the Wharton Business School, an MPA from Harvard University and BA from Yale University.</p>

                    <p>VLA was incorporated in Kenya in 2017.</p>
                </div>
              </div>
            </div>  


            <div class="t-dark col-md-12 clearfix text-left">
              <div class="container">
                <div class="t_name"><h3>Edwin Seno</h3></div>
                <div class="t_title"><h4>Chief Technology Officer</h4></div>
                <div class="t_bio"> 
                  <blockquote><p>Based in Nairobi, Edwin is an entrepreneur and technology professional with over 14 years of experience in entrepreneurship, software development, project management and product development.</p></blockquote>

                  <p>Previously, Edwin co-founded Random Group Limited, an entertainment conglomerate with interests in music production, artist management and videography. Edwin exited Random Group in 2010 following its acquisition the same year.</p>

                  <p>He is currently the Director of technology at Outside The Box Africa Limited (OTB Africa), where he has also previously served as Senior Project Manager. OTB Africa is a company he co-founded in 2009 specializing in the implementation of software solutions for Businesses, governments and NGOs. OTB Africa is headquartered in Nairobi, Kenya with operations in Rwanda and Uganda as well as having several software implementation projects in various countries in East, West and Southern Africa. He also serves as a director of Seno Group limited, an investment firm with interests in property, securities and food services. He has also recently been appointed as a director of the Football Foundation for Africa, a social enterprise seeking to drive investment into the development of grassroots football in Africa. Edwin has a bachelor's degree in Computer Science from the University of Nairobi.</p>
                </div>
              </div>
            </div>

          </div>

		
				</div>
			</div>
		</div>
	
</div>


{% endblock content %}
