{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="about_page page_banner_A full_width">
	<div class="containerX">
		<div class="rowXclearfix">
			<div class="col-md-8X col-md-offset-2X">
				<div class="home_banner_cap">
					

					<div class="home_banner home_banner2 full_width">
						<div class="container">
							<div class="row clearfix">
								<div class="col-md-5 col-md-offset-7">
									<div class="home_banner_cap">
										<h4 class="home_banner_cap_subheader">
											VentureLift Africa (VLA) launched in 2018 to address resource gaps confronting African startups and growing SMEs, including access to finance, market expansion, human capital and areas of business education.
										</h4>
									</div>
								</div>
							</div>
						</div>	
					</div>

					<div class="home_section_2 page_banner_Ab full_width">
						<div class="container text-center">
							<div class="h4_C_space">
								<h4 class="h4_C">
									VentureLift Africa (VLA) understands that access to capital represents the most significant gap facing African entrepreneurs but not the only one.
								</h4>
							</div>	
							<div class="hs2_bigger row clearfix">
								<div class="col-md-6 clearfix">
									<div class="hs2_content text-left">
										<p>
											Based in Nairobi, we help the Africa Diaspora together with other international users engage top startups and growing SMEs across Africa for investment, trade, supply chain procurement, technology transfer and talent recruitment. The global Africa Diaspora totals nearly 140 million and around 46 million in the United States.</p>
										<p>We aim to curate into Africa more Diaspora engagement beyond remittances and create a stronger economic bridge focusing on regional and international growth of businesses. 
										</p>
									</div>
								</div>
								<div class="col-md-6 clearfix">
									<div class="hs2_content text-left">

										<p>
											VLA provides capital providers (equity, debt and donation crowdfunding) with vetted investment opportunities and connections to qualified transaction advisors and consultants with local knowledge and track record in Africa. Our media platform offers investors and users news and information on Africa business and market trends. 
										</p>
										<p>
											Finally, through our in-person and Knowledge Center education modules, VLA provides instruction and training on a comprehensive range of topics from fundraising to mergers and acquisitions for entrepreneurs and managers. 
										</p>
									</div>
								</div>
							</div>		
						</div>	
					</div>	


				</div>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}
