{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="in_page page_banner_A full_width">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="home_banner_cap">
					<h1 class="page_banner_A_h1">FAQ</h1>
					<div class="page_content_A">
						<h4>1.What is an SME?</h4>
						<p>
						    While there is no universally accepted definition of a small to
						    medium-sized enterprise (SME) the World Bank Group working classification
						    system includes<em> </em>three sub-categories:
						</p>
						<ul>
						    <li>
						        Micro-enterprise: up to 10 employees; total assets/total<em> </em>
						        annual sales of up to US$100,000, turnover must be in excess of
						        US$400,000, and tangible assets more than<em> </em>US$200,000;<em></em>
						    </li>
						    <li>
						        Small enterprise: between 10 and 50 employees, total<em> </em>
						        assets/total annual sales between US$100,000 and<em> </em>US$3 million;
						        and <em></em>
						    </li>
						    <li>
						        Medium-sized enterprise: between 50 and 300 employees,<em> </em>total
						        assets/total annual sales between US$3 million<em> </em>and US$15
						        million.
						    </li>
						</ul>
						<p>
						    Within each African country, there is an official legal definition of an
						    SME. As these definitions dictate the type of government support,
						    investment, and other resources to which the &#8217;business has access, we
						    recommend reviewing the complete list which available in the IFC's report
						    <a
						        href="http://www.ifc.org/wps/wcm/connect/624b8f804a17abc5b4acfddd29332b51/msme-ci-note.pdf?mod=ajperes" target="_blank"
						    >
						        How Do Economies Define Micro, Small and Medium Enterprises (MSMEs)?
						    </a>
						</p>
						<p>
						    VentureLift Africa works with business above the microfinance level. During
						    the verification process, these SMEs proved to have: a viable product or
						    service; the ability to scale thus creating optimal chances for repayment
						    of investments; and the ability through their growth to create sustainable
						    developmental impact such as new skilled and unskilled jobs in their
						    community or region.
						</p>

						<h4>2. What is a Startup?</h4>
						<p>
							VentureLift Africa defines a startup as a business less than 3 years old that is still establishing any of the following: solution-problem fit, product-market fit and paying customers. 
						</p>
						<h4>3. What is Crowdsourcing?</h4>
						<p>
						    Crowdfunding on VentureLift Africa is a structured approach through which
						    verified businesses may receive financial contributions or services from a
						    group of people ordinarily inaccessible. Through our digital platform, we
						    connect people and institutions with the goal of boosting Africa's SME
						    sector. Across the continent, informal and formalized crowdfunding has a
						    long history be it in the form of collectives, chamas, or other networks
						    and institutions which pool together community capital for its members.
						</p>
						<p>
						    Donation crowdfunding involves giving money to businesses on the
						    VentureLift Africa platform without an equity interest or anticipated
						    payback. Donation crowdfunding on the VLA platform provides:
						</p>

						<ul>
							<li>
							    Financial capital which may be matched by a bank or other financial
							    institution;
							</li>
							<li>
							    Monetary contributions made to help verified SME owners achieve a
							    vital business or development milestone; or
							</li>
							<li>
							    Fiscal donations in return for a (pre-sale) product or new service.
							</p>
							<li>
							    In the case of Reward crowdfunding, the company will provide a product or
							    service in return for a crowdsourced financial contribution.
							</li>
						</ul>						
					</div>	
				</div>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}
