{% extends "base_root.html" %}
{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}


<div class="page_banner_A full_width">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-8 col-md-offset-2">
				<div class="home_banner_cap">
					<h1 class="page_banner_A_h1">Team</h1>
[insert pic of WA]
Founder – Dr. Wilmot Allen
Based in Nairobi, Wilmot is an experienced emerging market investor, business advisor, entrepreneur and Africa political economist. Wilmot launched VLA in 2018 inspired by his work in urban economic development in the U.S. and engagement with over 20 African countries during the last two decades. 
Wilmot is also a Venture Partner with RH Managers, a private equity fund investing in healthcare, based in Johannesburg. He recently worked as the first Director of East Africa with an U.S.  investment firm, CrossBoundary LLC, leading the transaction advisory practice for East Africa from Nairobi. Under his leadership, this group served as the transaction team for a USAID initiative, the East Africa Trade and Investment Hub, helping both SMEs, select early-stage companies and investors. This team facilitated over $100 million in closed transactions in only 24 months.
Prior, Wilmot worked with the International Finance Corporation in Washington DC, executing investments totaling over $300million and managing a portfolio of $2.5billion with the private equity and financial institutions groups. At the IFC, he was also Senior Advisor to the CEO on entrepreneurship initiatives in Africa, Asia and the Middle East, in conjunction with the Global Agenda Council on Youth Unemployment at the World Economic Forum. He also helped develop IFC’s strategy on fragile and conflict-affected situations. Wilmot began his career in Africa supporting businesses and governments as a consultant to the clearinghouse of COMESA in southern Africa. He created new strategies for efficiently managing exchange controls and international trade. 
In other roles, Wilmot worked as a venture capital investor with the Commonwealth Enterprise Fund in Boston, a technology M&A investment banker with JPMorgan H&Q to Silicon Valley and international companies in San Francisco and a private placement investment banker with Merrill Lynch in New York. Wilmot has also worked with the finance and strategy team of the Walt Disney Company (ABC Television) in the office of the CFO in Los Angeles and with a PBS affiliate (KCET) in Hollywood as creative executive on television programs and documentaries. He was also a consultant on innovation to the research and development group of Allergan Pharmaceuticals, a Fortune 500 company, helping the company to improve its internal management processes and shorten the time to market for new products.
Wilmot was recently a Fellow at the China-Africa Research Initiative of Johns Hopkins SAIS and is a current Research Affiliate with the SovereigNET initiative on sovereign wealth management and global capital at the Fletcher School of Tufts University. He is an advisory board member for Melvin's Tea (Kenya), Popote Payments (Kenya) and Cerchy (Nigeria). He is business coach with the Shona incubator (Uganda) and Village Capital (Kenya) and a mentor with the first accelerator in Nigeria targeting women CEOs, GreenHouse Lab. He was selected by the World Economic Forum as a Young Global Leader and served on the Global Agenda Council on Faith (Values) on projects addressing responsible financial management during the aftermath of global financial crisis of 2008. 
Wilmot has a PhD from Georgetown University in Comparative Political Economy, an MBA from the Wharton Business School, an MPA from Harvard University and BA from Yale University. 
					
				</div>
			</div>
		</div>
	</div>	
</div>


{% endblock content %}
