{% extends 'profile/base.html' %}
{% load crispy_forms_tags %}
{% block content_1 %}

<div class="col_A_in col_A_in_2">
    <div class="onboarding_A">
        <div class="row clearfix">
            <div class="col-md-8 col-md-offset-2 clearfix">
                <h3>Eligibility screening</h3>
                <div>
                    <form method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy }}
                        <button class='btn btn-success'>Save and continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content_2 %}
<div class="company_filter">
    <h4>Sidebar</h4>
</div>
{% endblock %}