/*
Project Name:
Author:
Font: Sofia Pro
*/


@font-face {
    src: url('../fonts/Sofia pro/SofiaProBlack.ttf');
    font-family: SofiaProBlack;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProBold.ttf');
    font-family: SofiaProBold;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProExtraLight.ttf');
    font-family: SofiaProExtraLight;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProLight.ttf');
    font-family: SofiaProLight;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProMedium.ttf');
    font-family: SofiaProMedium;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProRegular.ttf');
    font-family: SofiaProRegular;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProSemiBold.ttf');
    font-family: SofiaProSemiBold;
}

@font-face {
    src: url('../fonts/Sofia pro/SofiaProUltraLight.ttf');
    font-family: SofiaProUltraLight;
}

body{
    font-family:'SofiaProBlack';
    font-family:'SofiaProBold';
    font-family:'SofiaProSemiBold';
    font-family:'SofiaProMedium';
    font-family:'SofiaProRegular';
    font-family:'SofiaProLight';
    font-family:'SofiaProExtraLight';
    font-family:'SofiaProUltraLight';
    
}
#slidetoggle{
	display:none;
}
/*responsive menu*/
.slicknav_menu{
    display: none;
}
/*header style start*/

/*Header top style start*/
.header-top{
    background:#EBECED;
    padding: 35px 0px;
}
a.logo img {
    width: 245px;
    height: 45px;
}
.header-top nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.header-top nav ul li {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
li#profile-pic-sm img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-top ul ul {
    position: absolute;
    width: 144px;
    background: #fff;
    margin-left: -25px;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 9px #ddd;
    z-index: 999;
    top: 100%;
    display: none;
}
.header-top nav ul li:hover ul{
    display: block;
}
.header-top nav ul ul li{
    margin-top: 15px;
	display: block;
}
.header-top nav ul ul li:first-child {
    margin-left: 15px;
}
.header-top nav ul li:first-child {
    margin-left: 0;
}
.header-top nav ul li a{
    font-size: 16px;
    font-family:'SofiaProRegular';
    color: #1D2226;
    transition: .5s
}
.header-top nav ul li a:hover{
    text-decoration: none;
    color: #009CFF;
}

li#profile-pic-sm {
    margin-left:80px;
}


/*Header top style end*/

/*Header profile style start*/
.header-profile{
    background: #fff;
    padding-top:125px;
    padding-bottom: 50px;
    position: relative;
    
}
.profile-details img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 50%;
}
.profile-details {    
    position: absolute;
    left: 0;
    top: -14%;
}
.profile-details .profile-content {
    float: left;
    margin-left: -10px;
}
.profile-content a h5 {
    color: #1D2226;
    font-family: 'SofiaProSemiBold';
    font-size: 24px;
}

.profile-content a h5 i {
    width: 25px;
    height: 25px;
    background: #00D860;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    line-height: 1.9;
    margin-left: 15px;
    padding-left: 5px;
    
}
.profile-content p {
    color: #676767;
    font-family: 'SofiaProSemiBold';
    font-size: 16px;
}
a.profile-category {
    color: #009CFF;
    margin-top: -16px;
    font-size: 24px;
    font-family: 'SofiaProRegular';
    display: block;
}
a.profile-logo img {
    width: 260px;
    height: 41px;
    margin-top: -100px;
}
a.connect-btn {
    display: block;
    background: #009CFF;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'SofiaProRegular';
    float: right;
    line-height: 2.2;
}
a.connect-btn:hover{
    text-decoration: none;
}
a.connect-btn i {
    padding-right: 8px;
	line-height: 2.6;
}
.profile-content a:hover {
    text-decoration: none;
}
/*Header profile style end*/

/*header style end*/



/*about-and-connect style start*/
.about-and-connect{
    padding: 160px 0 80px 0;
    background: #EBECED;
}
.about-and-connect .about {
    
    padding: 18px 20px 20px 25px;
    border-radius: 2px;
}
.about-and-connect .about, .about-and-connect .connect {
    
    padding: 0px 20px 20px 25px;
    border-radius: 2px;
}
.about-section{
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    border-top:5px solid #009CFF;
}
.about h6, .connect h6 {
    font-size: 20px;
    color: #1D2226;
    font-family: 'SofiaProMedium';
    margin-bottom: 25px;
}
.about-information{
    background: #fff;
    padding:25px 25px 5px 25px;
    margin-top: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.about h6{
    float: left;
}
.profile-edit{
    float: right;
    font-size: 20px;
    color: #009CFF;
}
.profile-edit i{
    font-size: 20px;
    color: #009CFF;
}

.about p {
    font-size: 18px;
    color: #1D2226;
    font-family: 'Nunito';
    line-height: 1.7; 
    clear: both;
    
}
.company-title p {
    font-family: SofiaProMedium;
    font-size: 20px;
}

p.company-meta {
    color: #676767;
    font-size: 18px;
    font-family: SofiaProLight;
    margin-top: -21px;
}
.company-title {
    margin-top: 40px;
}
.company-details {
    margin-top: -20px;
}
.about-and-connect .connect{
    margin-top: 50px;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}
.single-connection img {
    float: left;
    width: 60px;
    height: 60px;
}

.connection-detsils {
    float: left;
    margin-left: 10px;
}

a.connection-name {
    font-size: 18px;
    font-family: SofiaProRegular;
    color: #1D2226;
}

a.connection-name:hover {
    text-decoration: none;
}

.connection-detsils p {
    color: #676767;
    font-size: 17px;
    font-family: SofiaProLight;
}

.single-connection {
    margin-top: 23px;
    overflow: hidden;
}
.see-all-section {
    background: #F8F8F8;
    width: 100%;
    height: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

a.see-all {
    color: #009CFF;
    font-size: 20px;
    font-family: 'SofiaProMedium';
    line-height: 2.7;
    font-size: 18px;
    text-align: center;
    display: block;
}
.see-all-section a:hover{
    text-decoration: none;
}
/*about-and-connect style end*/

/*Sidebar style start*/
.profile-sidebar{
    background: #fff;
    padding: 25px;
    padding-bottom: 68px;
    border-radius: 2px;
}

h5.widget-title {
    font-size: 22px;
    font-family: SofiaProMedium;
    color: #009CFF;
}


.widget-elements img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}

.custom-widgets{
    margin-top: 30px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
}
.custom-widgets:first-child{
    margin-top: 0;
}
.custom-widgets:last-child{
    
    border-bottom: none;
}
.widget-elements p {
    float: left;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'SofiaProMedium';
    line-height: 2.8;
    
}
.widget-elements{
    overflow: hidden;
    margin-top: 20px;
} 


/*Sidebar style end*/



/*Footer style start*/
footer {
    padding: 80px 0;
}

.footer-widget-one img {
    width: 240px;
    height: 45px;
    margin-bottom: 30px;
}

.footer-widget-one p {
    font-size: 18px;
    font-family: Nunito;
    font-weight: 300;
}

h5.footer-title {
    font-size: 22px;
    margin-bottom: 30px;
    color: #1D2226;
    font-family: SofiaProRegular;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav ul li a {
    font-size: 18px;
    color: #676767;
    font-family: 'SofiaProLight';
}

.footer-nav ul li {
    margin-top: 10px;
}

.contact-info p {
    
    font-size: 20px;
    color: #676767;
    font-family: SofiaProLight;
}

.contact-info {
    margin-top: 32px;
}

.contact-info p i {
    padding-right: 10px;
}
/*Footer style end*/

/*Footer bottom style start*/

.footer-bottom{
    padding:35px 0px;
    background: #000000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'SofiaProLight';
}

.social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links ul li {
  display: inline-block;
  margin-left: 15px;
  width: 30px;
  background: #676767;
  height: 30px;
  /*! color: #fff; */
  text-align: center;
  border-radius: 2px;
}
.social-links ul li:first-child {
  margin-left: 0;
}
.social-links ul li a {
  color: #fff;
  font-size: 19px;
  line-height: 1.8;
}
/*Footer bottom style end*/




















