html.cms-toolbar-expanded nav#navbar_out {
    padding-top: 45px;
}

body {
    font-family: 'Nunito', sans-serif;
    padding-top: 160px;
}

a {
    color: #979797;
}

a:hover,
a:focus {
    color: #4aaded;
    text-decoration: none;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

h4.style_4 {
    font-size: 1.2em;
}
body.auth_pages h4.style_4 {
    font-size: 1.4em;
    font-weight: 100;
}

h3.style_3 {
    font-size: 1.1em;
    border: 3px solid rgba(255, 255, 255, 0.13);
    padding: 20px;
    line-height: 1.6em;
    font-weight: 300;
}

h2.style_2 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 700;
}

h1.style_1 {
    font-weight: 900;
    font-size: 1.9em;
}





@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }

    .container {
        width: 1160px;
    }
}

.nav-up,
.nav-down {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-up {
    max-height: 0px;
    overflow: hidden;
    /* transition: max-height 0.15s ease-out; */
}

.nav-down {
    max-height: 100px;
    /* transition: max-height 0.15s ease-out; */
}

.flex {
    display: flex;
}

.nav_nav_first {
    width: 100%;
}

ul.in_line {
    padding-left: 0px;
    list-style: none;
}

ul.in_line li {
    display: inline-block;
}

.vl_top_top {
    margin-top: 8px;
    display: flex;
}

.vl_top_top ul li a {
    padding: 8px 12px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.vl_top_top ul li a:hover {
    color: #4aaded;
}

.vl_top_top ul li.active a {
    color: rgb(0, 156, 255);
}

ul.top_top_right {
    list-style: none;
    padding-left: 0px;
    float: right;
    text-align: right;
    font-size: 1.2em;
    margin-top: 40px;
}
li.top_top_linkedin {
    font-size: 2em;
}
figure.box_aviY {
    float: left;
    max-width: 60px;
    margin-right: 10px;
}
figure.box_aviY a {
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 1px;
    display: block;
}
figure.box_aviY img {
    display: block;
    width: 100%;
}
.box_boxY, .box_box_inY {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 4px;    
}

figure.box_detailsY {
    float: left;
}
p.box_titleY {
    margin-bottom: 0px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.0;
    border-radius: 3px;
}

.profile_list_side p {
    margin: 20px 0px 10px;
}
.profile_list_side p.profile_list_side_title, .profile_list_side h4 {
    width: 100%;
    clear: both;
    position: relative;
    float: left;
}
p.box_titleY {
    margin: 0px;
    display: flex;
}
p.box_titleY a {
    display: table-caption;
}


li.user_nav_item .dropdown {
    padding-top: 5px;
}

ul.vl_top_nav li ion-icon {
    font-size: 1.4em;
    vertical-align: middle;
}

a.navbar-brand img {
    max-width: 215px;
}

a.navbar-brand {
    padding: 6px 10px 0px;
}

.top_container.container {
    padding-right: 30px;
}

ul.navbarX2 {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0px 0px;
}

ul.navbarX2 li a {
    color: #626262;
    text-transform: uppercase;
}

ul.navbarX2 li {
    float: none;
    display: inline-block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #4aaded;
    background-color: transparent;
}

.navbar-default {
    background: #283891 url(../img/signup-bg.jpg) bottom center no-repeat;
    border-bottom: 0px;
    box-shadow: 0px 0px 8px 0px rgba(40, 56, 145, 0.20);
    padding: 10px 0px;
}
.navbar-default2 {
    background: #FFF;
    border-bottom: 0px;
    box-shadow: 0px 0px 8px 0px rgba(40, 56, 145, 0.20);
    padding: 10px 0px;
    color: #CCC;
}

.navbar-default_media {
    background: #283891 url(../img/signup-bg.jpg) bottom center no-repeat;
    border-bottom: 0px;
    box-shadow: 0px 0px 8px 0px rgba(40, 56, 145, 0.20);
    padding: 10px 0px;
}
body.media_index {
    padding-top: 0px;
}
nav#navbar_out_2 a {
    color: #FFFF;
}
body.media_index nav#navbar_out_2 {
    padding: 100px 0px 10px 0px;
}
nav#navbar_out_2 a:hover,
nav#navbar_out_2 a:active {
    color: #2db4e6;
    background: transparent;
}
.navbar-default2 .vl_top_top ul li a {
    color: rgb(0, 0, 0);
}
.navbar-default2 .vl_top_top ul li a:hover {
    color: rgb(0, 156, 255);
}
.home_banner.full_width {
    padding: 220px 0px;
    background: #283891 url(../img/home_banner.jpg) top center fixed;
    /* background-size: cover; */
    color: #FFF;
}
.home_section_3.full_width {
    padding: 100px 0px;
    background: #0039dc url(../img/home_section_3.png) top right fixed;
    background-size: cover;
    color: #FFF;
}
.home_banner2.full_width {
    padding: 220px 0px;
    background: #283891 url(../img/home_banner2.jpg) top center fixed;
    /* background-size: cover; */
    color: #FFF;
}
.home_banner.home_banner2.full_width .home_banner_cap {
    background: #283891;
    padding: 20px;
}
.in_page.page_banner_A.full_width {
    padding: 120px 0px;
    min-height: 460px;
    text-align: center;
}
.page_content_A {
    text-align: left;
}
.hs2_more {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}
.single_event_meta {
    margin: 30px 0px;
}



.at-section__title {
  margin: 0 0 70px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
.at-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFF;
  border: 1px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.at-user__title {
  color: #6F808A;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.at-social__item a {
  display: block;
}
.at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.at-social__item svg:hover {
  fill: #788D96;
}
.in_page.page_banner_A.full_width h4 {
    font-weight: 300;
}
figure.hs3_icon img {
    padding: 10px 70px;
}
.hs3_content {
    margin-bottom: 40px;
}
.home_section_2 h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
}
.home_section_3 h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
}

body.root_A {
    padding-top: 0px;
}
.home_banner_cap_cta {
    margin: 40px 0px 0px;
}
.home_banner_cap_cta a {
    background: #009cff;
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
    padding: 15px 20px;
    border-radius: 6px;
}
.home_banner_cap_cta a:hover {
    color: #fff;
    background-color: #0076dc;
}
h4.home_banner_cap_subheader {
    font-weight: 300;
    line-height: 1.4em;
    font-size: 1.52em;
    margin-top: 20px;
}
h1.home_banner_cap_header {
    font-weight: 900;
}
h1.hs2_title, h1.hs3_title {
    font-weight: 900;
    margin-bottom: 60px;
}
.hs2_cta {
    margin: 30px 0px;
}
.hs2_cta a {
    color: #be26ff;
    border: 2px solid #be26ff;
    padding: 10px 10px;
    border-radius: 6px;
}
.hs2_cta a:hover {
    background: #be26ff;
    border: 2px solid #be26ff;
    padding: 10px 10px;
    border-radius: 6px;
    color: #FFF;
}
figure.hs2_icon {
    margin-bottom: 30px;
}
figure.hs2_icon img {
    max-width: 110px;
}





.in_style_A {
    min-height: 360px;
}

.meta_A {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.0rem;
    font-weight: 500;
    margin: 4px 0px;
}

.meta_A span {
    float: right;
}

a.a_A {
    color: #283891;
}

a.a_A:hover {
    color: #4aaded;
}

.style_A {
    font-weight: 900;
    margin-bottom: 20px;
}
.h_A_row_1B_in h1.style_A {
    margin-top: 0px;
    margin-bottom: 0px;
}
.h_A_row_1B_in > h5.meta_A {
    margin-bottom: 20px;
}

.style_D {
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 3.8em;
}

figure.single_banner {
    margin: 30px 0px;
}

.single_post_container .style_D {
    color: #283891;
}

p.meta {
    color: #bfbfbf;
}

.single_body {
    margin-bottom: 40px;
}

ul.category_nav li a {
    padding: 8px 10px;
    display: block;
    border-bottom: 1px solid #CCC;
    padding: 25px 10px 20px;
}

ul.category_nav li:nth-child(1) a {
    border-bottom: 1px solid #00aeff;
    background: #00aeff;
    color: #FFF;
}
ul.category_nav li:nth-child(1) a:hover {
    border-bottom: 1px solid #029ee6;
    background: #029ee6;
    color: #FFF;
}

ul.category_nav li:nth-child(2) a {
    border-bottom: 1px solid #e2005c;
    background: #e2005c;
    color: #FFF;
}
ul.category_nav li:nth-child(2) a:hover {
    border-bottom: 1px solid #bf004e;
    background: #bf004e;
    color: #FFF;
}

ul.category_nav li:nth-child(3) a {
    border-bottom: 1px solid #ff9800;
    background: #ff9800;
    color: #FFF;
}
ul.category_nav li:nth-child(3) a:hover {
    border-bottom: 1px solid #e68900;
    background: #e68900;
    color: #FFF;
}

ul.category_nav li {
    display: table-cell;
}

ul.category_nav {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: -25px;
}

.h1,
h1 {
    font-size: 2.6em;
}

img {
    max-width: 100%;
}

ul.h_A_row_1A_list li a {
    display: block;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

ul.h_A_row_1A_list {
    list-style: none;
    padding-left: 0px;
    font-size: 1.5rem;
}

.btn-primary {
    color: #fff !important;
    background-color: #009cff;
    border-color: transparent !important;
    border-radius: 6px;
}

ul.sidebar_list {
    list-style: none;
    padding-left: 0px;
}

.style_E {
    font-size: 1.4rem;
}

h2.h_title_A.h_title_AB {
    margin-top: -63px;
}

ul.sidebar_list li {
    margin-bottom: 25px;
}

.style_B {
    font-weight: 800;
}

.style_B a {
    color: #585858;
}

.style_B a:hover {
    color: #283891;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #0076dc;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.68);
    background-color: transparent;
}

a.navbar-brand {
    /* background: white; */
}

input.search_field.form-control {
    border-color: #4aaded;
    background: transparent;
    color: #FFF;
}

button.search_button {
    background: #009cff;
    border-color: #009cff;
}


.h_title_A {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.1rem;
    font-weight: 900;
    color: #000;
    margin: 40px 0px;
}

.in_style_A a {
    color: #283890;
}

.style_C {
    font-weight: 600;
    font-size: 2.2rem;
}

.full_width.footer {
    color: #7d7d7d;
    background: #181818;
    padding: 30px 0px;
}

.content_container {
    /* min-height: 600px; */
}
body.auth_pages .content_container {
    min-height: 600px;
}

.style_G {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: 900;
    opacity: .5;
    margin: 10px 0px;
}

ul.in_style_A_list_A {
    padding-left: 0px;
    list-style: none;
}

ul.in_style_A_list_A li a {
    color: rgba(255, 255, 255, 0.42);
    font-size: 1.2rem;
    display: block;
    padding: 3px 0px;
}

ul.in_style_A_list_A li a:hover {
    color: rgba(255, 255, 255, 1.0);
}

li.copright {
    margin-top: 20px;
    font-size: 1rem;
    color: #505050;
}

.full_width {
    padding: 40px 0px;
}
.home_section_2..home_section_2b.full_width {
    background: #9c9e85;
    color: #FFF;
}
.home_section_2.full_width {
    padding: 100px 0px;
}
.page_banner_A.page_banner_Ab.full_width {
    padding-bottom: 0px;
}
.home_section_2.home_section_2About.full_width {
    background: #283891;
    color: #FFF;
}


.full_width.h_A {
    padding-top: 0px;
}

.full_width.h_C {
    background: #f3f3f3;
}

.h_A_row_1A_in {
    padding-top: 10px;
}

ul.home_vide_list li {
    margin-bottom: 25px;
}

ul.home_vide_list {
    list-style: none;
    padding-left: 0px;
    max-height: 515px;
    overflow-y: auto;
}

.top_search {
    max-width: 200px;
}

input.search_field {
    box-shadow: none;
}



button.search_button {
    padding: 0px;
    height: 34px;
}

button.search_button ion-icon {
    font-size: 2.2rem;
    padding: 5px 6px 0px;
    color: #ffffff;
}

input.search_field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
}

input.search_field::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
}

input.search_field:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
}

input.search_field:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
}

.li {
    color: #206dbc !important;
}

.tw {
    color: #0196ff !important;
}

.fb {
    color: #002fc6 !important;
}

.ig {
    color: #7b0b86 !important;
}

.li:hover {
    color: #004a95 !important;
}

.tw:hover {
    color: #0484df !important;
}

.fb:hover {
    color: #0329a4 !important;
}

.ig:hover {
    color: #62036b !important;
}

ul.social_icons {
    list-style: none;
    padding-left: 0px;
}

ul.social_icons li {
    display: inline-block;
    margin: 20px 0px;
}

ul.social_icons.social_side {
    font-size: 3rem;
}

ul.social_icons.social_bottom li a {
    font-size: 2.4rem;
    padding: 0px 4px 0px 0px;
}

li.social_right_CTA {
    float: right;
    font-size: .40em;
    max-width: 52%;
    /* border: 2px solid #0004d0; */
    padding: 0px 6px;
    /* background: #f5f5f5; */
    font-weight: 700;
}
li.social_right_CTA a {
    color: #0004d0;
    border-bottom: 1px solid transparent;
}
li.social_right_CTA a:hover {
    color: #0004d0;
    border-bottom: 1px solid #0004d0;
}

.signup_right .form_control {
    padding: 0px 0px 0px;
    margin: 20px 0px;
}

body.auth_pages .navbar-default {
    background: transparent;
    box-shadow: none;
}

body.auth_pages a.navbar-brand {
    background: transparent !important;
}

body.auth_pages {
    background: #040439 url('../img/signup-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #FFF;
    padding-top: 0px;
}
html {
    min-height: 100%;
}

body.auth_pages .full_width.footer {
    display: none;
}

figure.list_A ul li {
    margin-bottom: 20px;
    padding-left: 60px;
    background-size: 30px;
    background-position: 10px 0px;
    -moz-transition-duration: .6s;
    -o-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background-repeat: no-repeat;
    line-height: 1.6em;
}

figure.list_A ul li:nth-child(1) {
    background-image: url('../img/icon-1.svg');
}

figure.list_A ul li:nth-child(2) {
    background-image: url('../img/icon-2.svg');
}

figure.list_A ul li:nth-child(3) {
    background-image: url('../img/icon-3.svg');
}

figure.list_A ul li:nth-child(4) {
    background-image: url('../img/icon-4.svg');
}

figure.list_A ul li:nth-child(5) {
    background-image: url('../img/icon-5.svg');
}

figure.list_A ul {
    padding-left: 0px;
    list-style: none;
}

figure.list_A {
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: 100;
}

.md-in-B {
    position: relative;
    background: white;
    float: left;
    clear: both;
    width: 100%;
    padding: 30px;
    color: #283891;
}

.md-out-B {
    padding: 0px 0px 0px 40px;
}

.md-in-A {
    padding-right: 40px;
}

.md-in-A h3 {
    margin-top: 0px;
}

.md-in-A h2.style_2 {
    margin: 30px 0px;
}

.md-in-B h1.style_1 {
    margin-top: 0px;
}

form.form_A .form-group {
    padding-left: 0px;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
}

form.form_A {
    position: relative;
    float: left;
    margin: 20px 0px 0px;
    width: 100%;
}

.space_button {
    letter-spacing: 2px;
}

label {
    font-weight: 600;
}

form.form_A button,
form.form_A input,
form.form_A select,
form.form_A textarea {
    border-radius: 0px;
    border: 2px solid #283891;
    box-shadow: none;
    min-height: 40px;
}

.onboarding_A button.btn {
    width: 100%;
}

div#div_id_box_choice {
    margin-bottom: 3px;
}

.onboarding_A {
    padding-bottom: 60px;
    padding-top: 60px;
}

div#div_id_box_choice,
.alert.alert-block.alert-danger {
    text-align: left;
}

.alert.alert-block ul {
    list-style: none;
    padding-left: 0px;
}

.alert.alert-block ul li {
    margin-bottom: 5px;
    display: block;
    padding-bottom: 5px;
}

.form-check {
    background: rgba(40, 56, 145, 0.04);
    padding: 4px 12px;
    margin-bottom: 4px;
}

.form-check,
label {
    width: 100%;
}

.submit_A {
    display: block;
    width: 100%;
    background: #29ac4b;
    font-size: 1.2em;
    border-radius: 0px;
    font-weight: 300;
}

.submit_A:hover {
    background: #138c33;
}

.full_w_form,
.full_w_form form,
.full_w_form input {
    width: 100%;
    position: relative;
}

.full_w_form .form-group {
    width: 100%;
}

.full_w_form label {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.62);
}

.full_w_form input {
    border-radius: 0px;
    background: transparent;
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.23);
    height: 40px;
}

body.profile_templates a.navbar-brand {
    background: transparent !important;
}

ul.vl_top_nav {
    width: 100%;
}

body.profile_templates a.navbar-brand img {
    max-width: 150px;
}

.columns_A {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.topbar_2 {
    margin-bottom: 30px;
}

.box_box {
    margin-bottom: 20px;
}

p.box_title a {
    color: #000;
}

p.box_title a:hover {
    color: #1b9cd8;
}

li.pull_right {
    float: right;
}

figure.user_icon_nav {
    width: 30px;
    padding: 0px;
}

li.user_nav_item.pull_right button {
    background: transparent !important;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}

li.user_nav_item .btn {
    padding: 0px;
    border-radius: 1000px;
}

ul.user_nav_item_drop li {
    width: 100%;
}

ul.user_nav_item_drop.dropdown-menu.pull-right, .dropdown-content {
    /* background: #283891; */
    padding: 20px;
}
ul.user_nav_item_drop.dropdown-menu li a, .dropdown-content li a {
    padding: 8px 0px;
}


ul.vl_top_nav {
    width: 100%;
    margin-bottom: 0px;
}

ul.user_nav_item_drop.dropdown-menu.pull-right a {
    background: transparent;
}

ul.user_nav_item_drop.dropdown-menu.pull-right .divider {
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
}
.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.02);
}

.col_A_out {
    padding: 40px;
}
/*
.col_A_out.col_A_out_1 {
    background: #ffffff;
    text-align: center;
    box-shadow: 0px -8px 18px #e6e6e6;
}

.col_A_out.col_A_out_1 {
    background: #121e63;
    text-align: center;
    box-shadow: 0px -8px 18px #e6e6e6;
    color: rgba(255, 255, 255, 0.51);
}
*/
.col_A_out.col_A_out_1 {
    /* background: #ececec; */
    /* text-align: center; */
    box-shadow: 0px 10px 18px #e6e6e6;
    /* color: rgba(255, 255, 255, 0.51); */
}
.profile_top {
    background: #121e63;
    text-align: center;
    box-shadow: 0px -8px 18px #e6e6e6;
    color: rgba(255, 255, 255, 0.51);
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    color: #FFF;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-body.progress-card {
    border-bottom: 1px solid #28f29b;
    border-radius: 0px;
    margin-bottom: 50px;
    padding: 20px;
    color: #27ef9e;
}
.card-body.progress-card img {
    max-width: 70px;
}


img.sidebar_avi_A {
    border-radius: 1000px;
}

.col_A_out_2, .col_A_out_3 {
    background: #f9f9f9;
}

body.profile_templates {
    padding-top: 30px;
}

.full_A,
.columns_A {
    min-height: 100% !important;
}

.col_A_out.col_A_out_3 {
    border-left: 2px solid #f7f7f7;
    background: #f3f3f3;
}

figure.user_icon_nav_2 img {
    width: 100%;
    overflow: hidden;
    max-width: 140px;
    border-radius: 1000px;
    overflow: hidden;
}

body.profile_templates .content_container {
    padding-top: 40px;
}

ul.actions_A li a {
    display: block;
    color: #283891;
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(40, 56, 145, 0.23);
}

ul.actions_A li a:hover {
    color: #283891;
    border-bottom: 1px solid rgba(40, 56, 145, 0.4);
}

ul.actions_A {
    padding-left: 30px;
    list-style: none;
    margin-top: 30px;
    text-align: left;
    font-weight: 600;
}

.style_F {
    font-size: 1.6em;
    font-weight: 400;
    padding-bottom: 20px;
    color: #283891;
}

p.p_title {
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .3;
}

ul.search_A li {
    /* display: inline-block; */
}

ul.search_A.search_A2 {
    float: right;
}

ul.search_A {
    list-style: none;
    padding-left: 0px;
}

ul.search_A form {
    padding-left: 0px;
}

figure.box_avi img {
    /* border-radius: 1000px; */
}

.box_box_in {
    background: #FFF;
    box-shadow: 0px 0px 10px 0px #e4e4e4;
}

.box_box_in {
    text-align: center;
}

figure.box_details {
    padding: 8px;
    background: #FFF !important;
    position: relative;
}

button.btn-actioned {
    background: #19ade4;
    border: #19ade4;
    color: #FFF;
}

.col_A_out.col_A_out_3 h4 {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .5;
}

.col_A_out.col_A_out_3 select,
.company_filter input {
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #ccc;
}

.with-side-filter .col_A_out.col_A_out_3 {
    padding: 60px 30px;
}

.col_A_out.col_A_out_3 {
    border-left: 2px solid #f7f7f7;
    background: #f3f3f3;
}

.col_A_out.col_A_out_3 button {
    width: 100%;
    width: 70px;
}
.profile_list_side {
    position: relative;
    min-height: 100px;
}
.profile_list_side {
    text-align: left;
}
.profile_list_side h4 {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .5;
}

.btn-success {
    color: #fff;
    background-color: #0ebb0e;
    border-color: #0ebb0e;
}

.btn-success:hover {
    color: #fff;
    background-color: #00af00;
    border-color: #00af00;
}

.col_A_out.col_A_out_3 label.col-form-label {
    opacity: .6;
}

.signup_right ul.messages {
    padding-left: 0px;
}
.col_A_in_2 .card .card-body {
    padding: 15px;
}
.col_A_in_2 .card {
    background: #FFF;
    box-shadow: 0px 0px 10px 0px #efefef;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.col_A_in_2 .card h5.card-title {
    font-weight: 300;
    font-size: 1.3em;
}
.top_left_nav {
    float: right;
}
.card_summary {
    opacity: .6;
    margin: 12px 0px;
}
div.select_icon {
    font-size: 3em;
    margin-bottom: 0px;
    height: 30px;
    margin-top: 10px;
}
button.btn.btn-B {
    /* background: transparent; */
    /* color: #1590c6; */
    font-size: 1.6em;
    font-weight: 300;
    background: #00a3ea;
    color: #FFF;
    max-width: 200px;
    margin: 30px auto;
}
figure.btn_cover {
    width: 100%;
    text-align: center;
}

.box_B {
    width: 100%;
    height: 150px;
    /* background-image: url("http://i.stack.imgur.com/2OrtT.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;    
}
.col_A_in_2 .card .card-body h4 a {
    color: #009cff;
}
.col_A_in_2 .card .card-body h4 a:hover {
    color: #000;
}
.card_footer {
    padding: 8px 12px;
    background: rgba(222, 222, 222, 0.12);
    color: #000;
}
.card_footer a {
    padding: 2px 10px 2px 0px;
    font-size: .86em;
}


.col_B_out.col_B_out_1 {
    /* background: #06164c; */
    color: #FFF;
    padding: 0px;
    background: transparent;
}
.col_B_in.col_B_in_1 {
    /* background: rgba(0, 0, 0, 0.14); */
    padding: 80px 40px;
    background: #ffffff;
    color: #267ab7;
}
.col_B_out.col_B_out_1 h2.card-title.text-primary {
    margin: 0px;
}
.col_B_out.col_B_out_1 .col_A_in.col_A_in_1 {
    display: none;
}
figure.mini_avi {
    border-radius: 5px;
    overflow: hidden;
    max-width: 70px;
    margin: 0 auto;
    border: 3px solid rgba(0, 156, 255, 0.17);
}
.mini_list ul li {
    display: inline-block;
}
.mini_list ul {
    width: 100%;
    text-align: center;
    padding-left: 0px;
}

figure.maxi_avi {
    border-radius: 5px;
    overflow: hidden;
    max-width: 120px;
    margin: 0 auto;
    border: 3px solid rgba(0, 156, 255, 0.17);
}

figure.maxi_avi2 {
    border-radius: 5px;
    overflow: hidden;
    max-width: 160px;
    /* margin: 0 auto; */
    border: 3px solid rgba(0, 156, 255, 0.17);
    float: left;
    margin-right: 20px;
}
figure.maxi_avi2 img {
    width: 100%;
    height: auto;
}
.columns_A.flex {
    padding-bottom: 50px;
}
ul.Xuser_label.Xfunder_label.Xtop {
    text-align: left;
}
li.Xuser_label_company.Xtop {
    color: #fff;
    /* display: block; */
    margin-top: 0px;
    margin-bottom: 10px;
}
li.Xuser_label_company2.Xtop {
    color: #FFF;
}
ul.top_top_right a {
    color: #FFF;
}

ul.Xuser_label.Xfunder_label.Xtop {
    text-align: left;
    display: table-row;
}
.ptin_A.ptin_1A h4 {
    padding-top: 30px;
}
.padless-left {
    padding-left: 0px;
}
.padless-right {
    padding-right: 0px;
}


.maxi_list ul li {
    display: inline-block;
}
.maxi_list ul {
    width: 100%;
    text-align: center;
    padding-left: 0px;
}
span.badge_A {
    color: #FFF;
    background: #009cff;
    font-size: .4em;
    width: 16px;
    height: 16px;
    margin-top: -10px !important;
    border-radius: 100px;
    padding: 2px 0px 0px;
    position: absolute;
    margin-left: 0px;
}
.about_bubble {
    background: rgba(0, 156, 255, 0.14);
    color: rgba(255, 255, 255, 0.71);
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.track_record table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
.track_record table th {
    padding: 6px 8px 6px 0px;
}
.track_record table {
    text-align: left;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
}

.contact_info {
    margin-top: 40px;
}

ul.contact_socials li a {
    color: #FFF;
}
ul.contact_socials li a:hover {
    color: rgba(255,255,255,0.7);
}
ul.contact_socials li {
    display: inline-block;
}
ul.contact_socials {
    padding-left: 0px;
    list-style: none;
    width: 100%;
    font-size: 1.5em;
}

.contact_body {
    /* text-align: left; */
}
.contact_body p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    color: #009cff;
}
.top_banner_cta a {
    min-width: 170px;
}
.top_banner_cta {
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}


.sidebar_actions a {
    margin-bottom: 10px;
}

.no_post_hero h3 {
    font-weight: 300;
    color: #CCC;
    font-size: 1.5em;
}
.no_post_hero {
    text-align: center;
    padding: 100px 0px;
    max-width: 320px;
    margin: 0 auto;
}
.tab_B.nav-tabs>li.active>a, 
.tab_B.nav-tabs>li.active>a:focus, 
.tab_B.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-bottom: 1px solid #009cff;
}
ul.tab_B.nav.nav-tabs li a {
}
ul.tab_B.nav.nav-tabs li {
    display: inline-block;
    float: none;
}
ul.tab_B.nav.nav-tabs {
    /* text-align: center; */
    width: 100%;
    margin-bottom: 20px;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    font-size: 1.1em;
    font-weight: 400;
    width: 70%;
    float: left;
}
.onboarding_A {
    padding-bottom: 60px;
    padding-top: 0px;
}
ul.tab_B.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 16px;
}
.single_card_wrapper p {
    font-size: .9em;
    color: #a0a0a0;
    margin-bottom: 4px;
}
p.card-text.dark-text {
    color: #000;
}
div#profile h3 {
    text-align: center;
}
.top_center_nav {
    background: rgba(18, 30, 99, 0.05);
    padding: 30px 20px;
    border-radius: 5px;
}
a.button_A {
    width: 180px;
}



.user_label_icon {
    font-size: 1.4em;
    padding-right: 10px;
}
.user_label li {
    float: left;
    text-align: center;
}

.user_label.investor_label {
    background: #009256;
    color: #FFF;
}
.user_label.funder_label {
    background: #760092;
    color: #FFF;
}
.maxi_content_A h4 {
    font-size: 1.6em;
    color: #FFF;
    font-weight: 500;
    margin-top: 20px;
}





ul.Xuser_label {
    width: 100%;
    text-align: center;
    padding-left: 0px;
}
ul.Xuser_label li {
    display: inline-block;
    vertical-align: top;
}
li.Xuser_label_icon {
    font-size: 1.4em;
}
ul.Xuser_label.Xfunder_label {
    color: #00ff8b;
}
ul.Xuser_label.Xinvestor_label {
    color: #ff00ba;
}



ul.home_p_navs li a.current {
    color: #1f417f;
}
ul.home_p_navs li a {
    padding: 8px 12px;
}
ul.home_p_navs li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.box_list_B {
    padding-left: 0px;
    list-style: none;
    display: table;
}
ul.box_list_B li {
    /* display: inline-block; */
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}


li.b_list_icon img {
    height: 35px;
    width: 35px;
}
li.Xuser_label_company {
    color: #FFF;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 10px;
    width: 100%;
}
.single_card_wrapper .pull-right {
    text-align: right;
}
p.card-text span {
    color: #000;
}
.h3_A {
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.updates_B {
    margin-top: 50px;
}
.no_padd {
    padding: 0px;
}

h4.h4_C {
    text-transform: none;
    letter-spacing: 0px;
    font-size: 1.6em;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4em;
}
.h4_C_space {
    margin-bottom: 80px;
}

.full_width.footer.foot2 a {
    font-size: .9em;
    padding: 5px 5px;
}
.full_width.footer.foot2 > div > ul {
    text-align: center;
    margin-bottom: 0px;
}
ul.in_style_A_list_A.in_style_B3 li a {
    padding: 0px;
}
ul.in_style_A_list_A.in_style_B3 li {
    margin: 0px;
    font-size: 1.2em;
}
ul.in_style_A_list_A.in_style_B2 li.copright {
    margin-top: 0px;
}
.full_width.footer.foot2 > div > ul li {
    display: inline-block;
}
.full_width.primary_footer {
    padding: 0px;
}

body.profile_templates .content_container {
    padding-top: 0px;
}
body.profile_templates nav#navbar_out_2 {
    border-radius: 0px;
    padding: 80px 0px 20px;
    color: #FFF;
}
html {
    background: #181818;
}
.single_event.full_A {
    padding-top: 140px;
}
ul.event_titles {
    list-style: none;
    padding-left: 0px;
}
ul.event_titles li {
    display: inline-block;
    max-width: 60%;
}
li.e-title_2 {
    float: right;
}
ul.event_titles h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
select.select {
    border: 2px solid rgba(255, 255, 255, 0.46);
    /* background: rgba(77, 191, 234, 1.0); */
    font-size: 1.4em;
    font-weight: 300;
    padding: 10px 20px;
    background: transparent;
}
select.select option {
    font-size: .8em;
    padding: 12px 10px;
    background: rgba(77, 191, 234, 1.0);
}
form.url_changer {
    float: left;
    margin-right: 20px;
}
.event_box {
    padding: 20px;
}
.event_content {
    padding: 15px;
    background: white;
}
.event_box_in {
    box-shadow: 0px 0px 18px 0px rgb(216, 216, 216);
}
figure.event_image {
    min-height: 220px;
}
h4.event_title a {
    color: #293991;
}
h4.event_title a:hover {
    color: #a5a5a5;
}
h4.event_title {
    min-height: 40px;
    font-size: 1.4em;
    font-weight: 600;
}
.event_meta {
    margin-top: 10px;
    /* text-transform: uppercase; */
    font-size: .85em;
    color: #636363;
}
.single_event_content {
    margin: 30px 0px;
}