{% extends 'crowdfunding/base5.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block content_1 %}

<div class="col_A_in col_A_in_2">
    {% if message %}
    <div class="topbar_2">
        <div class="row clearfix">
            <div class="col-md-12 clearfix" align="center">
                <p class="p_title"><strong>{{ message }}</strong></p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="topbar_2">
        <div class="row clearfix">
            <div class="col-md-6 clearfix">
                <p class="p_title">My Campaigns</p>
            </div>
            <div class="col-md-6 clearfix">
                <div class="company_filter pull-right">
                    <form method='post' class=''>
                        {% csrf_token %}
                        <input class="form-control" name='company-name' placeholder='Find a campaign' />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class='col-md-12 clearfix'>
            <div class="row clearfix" align="center">
                {% if campaign_list %}
                {% for campaign in campaign_list %}
                <div id="" class="col-md-4 box_box">

                    <div class="box_box_in">
                        <figure class="box_avi">
                            <div class="box_B box_campaign.id">
                                {% if campaign.campaign_image %}
                                <img src="{{ campaign.campaign_image.url }}" width="100%" height="150px">
                                {% else %}
                                <img src="{% static 'img/no-img.jpg' %}">
                                {% endif %}
                            </div>
                        </figure>
                        <figure class="box_details">
                            <div>
                                <b>{{campaign.campaign_name}}</b>
                                <br>
                                <b>{{campaign.campaign_type}}</b>
                            </div>
                            <div>
                                {{campaign.short_description|truncatewords:5}}
                            </div>
                            <div class="box_social">
                                <a href="{% url 'crowdfunding:crowdfunder_create_donation' campaign.id %}"><button class="btn-actioned btn btn-sm btn-default">Fund</button></a>
                            </div>
                        </figure>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                     <div>
                        <p><b>No Available Published Campaigns </b></p>
                     </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content_2 %}
<div class="company_filter">
    <h4>Filter Campaigns</h4>
     <form method='post' action="{% url 'crowdfunding:crowdfunder_filter_campaign' %}">
             {% csrf_token %}
            <div class="form-group">
                <label for="campaign_name">Campaign Name: </label>
                <input type="text" name="campaign_name" id="campaign_name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="sectors">Sector: </label>
                <select id="sectors" class="form-control" name="sector">
                    <option value="">Select a campaign sector</option>
                    {% for campaign_sector in campaign_sectors %}
                        <option value="{{campaign_sector.id}}">{{campaign_sector.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" align="center">
                <button class='btn btn-success'>Filter</button>
            </div>
     </form>
</div>

{% endblock %}