{% extends 'crowdfunding/base6.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

<div class="full_A">
    <div class="container">
        <div class="profile_top full_widthX">
          <div class="profile_top_in">
            <div class="padless-leftX col-md-6 col-sm-6 col-xs-6">
              <div class="ptin_A ptin_1A">
                <figure class="maxi_avi2">
                    {% if campaign_data.campaign_image %}
                    <img src="{{ campaign_data.campaign_image.url }}">
                    {% else %}
                    <img src="{% static 'img/no-img.png' %}">
                    {% endif %}
                </figure>
                <div class="ptin_1A1">
                  <div class="Xuser_label_wrap Xtop">
                    <ul class="Xuser_label Xfunder_label Xtop">
                      <li class="Xuser_label_company2 Xtop">
                          <h4>  {{ campaign_data.campaign_name }}</h4>
                      </li>
                      <li class="Xuser_label_company Xtop">
                        {{ campaign_data.company_name }}
                      </li>
                      <li class="Xuser_label_title Xtop"><ion-icon name="finger-print"></ion-icon>Sector: {{campaign_data.sector}}</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
  <div class="container">
        <div class="columns_A flex row clearfix">

          <div class="col_A_out col_A_out_1 col-md-3 clearfix">
            <div class="col_A_in col_A_in_1">

                <div class="card-body progress-card text-center">

                </div>

              <div class="card card-body">

              </div>

              <div class="profile_list_side">

              </div>

              <div class="profile_list_side">


              </div>

            </div>
          </div>
          <div class="col_A_out col_A_out_2 col-md-6 clearfix">
            <div class="col_A_in col_A_in_2">
              <div class="onboarding_A">
                <div class="row clearfix">
                  <div class="col-md-12 clearfix">

                    <div class="tab-content">
                      <div id="profile" class="tab-pane fade in active">
                        <div class="col-md-12 clearfix">
                          <div class="profile_data">

                              <div class="track_record_2">
                                <div class="row clearfix">
                                  <div class="no_padd col-md-12 clearfix">
                                    <div class="single_card_wrapper">
                                      <div class="card_C card" style="">
                                        <div class="card-body">
                                          <h4 align="center"><b>Donate</b></h4>
                                             <div class="row clearfix">
                                                  <div class="no_padd col-md-12 clearfix">
                                                    <h3>Campaign Details</h3>
                                                    <div class="single_card_wrapper">
                                                      <div class="card_C card" style="">
                                                        <div class="card-body">
                                                          <div class="">
                                                              <h5><b>Campaign Title</b></h5>
                                                                <p class="card-text dark-text">
                                                                  {% if campaign_data.short_description %}
                                                                    {{campaign_data.short_description}}
                                                                  {% else %}
                                                                    No campaign title statement provided
                                                                  {% endif %}
                                                                </p>

                                                               <h5><b>Campaign Objective</b></h5>
                                                                <p class="card-text dark-text">
                                                                  {% if campaign_data.long_description %}
                                                                    {{campaign_data.long_description}}
                                                                  {% else %}
                                                                    No campaign objective statement provided
                                                                  {% endif %}
                                                                </p>

                                                               <h5><b>Target Amount</b></h5>
                                                                <p class="card-text dark-text">
                                                                  {% if campaign_data.target_amount %}
                                                                    USD {{campaign_data.target_amount}}
                                                                  {% else %}
                                                                    No target_amount provided
                                                                  {% endif %}
                                                                </p>

                                                              <h5><b>Minimum Amount</b></h5>
                                                                <p class="card-text dark-text">
                                                                  {% if campaign_data.minimum_donation %}
                                                                    USD {{campaign_data.minimum_donation}}
                                                                  {% else %}
                                                                    No minimum donation amount defined
                                                                  {% endif %}
                                                                </p>

                                                               <h5><b>Campaign Closing Date</b></h5>
                                                                <p class="card-text dark-text">
                                                                  {% if campaign_data.duration %}
                                                                    USD {{campaign_data.duration}}
                                                                  {% else %}
                                                                    No campaign  closing date details provided
                                                                  {% endif %}
                                                                </p>
                                                          </div>

                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                              </div>
                                              <div class="row clearfix">
                                              <div class="no_padd col-md-12 clearfix">
                                                <div class="single_card_wrapper">
                                                  <div class="card_C card" style="">
                                                    <div class="card-body">
                                                         <form method="post" action="{% url 'crowdfunding:crowdfunder_make_payment' %}">
                                                                 {% csrf_token %}
                                                             <input type="hidden" value="{{campaign_data.id}}" name="campaign_id" id="campaign_id" required />
                                                             <input type="hidden" value="{{campaign_data.minimum_donation}}" name="campaign_minimum_amount" id="campaign_minimum_amount" />

                                                             <div class="form-group">
                                                                 <label> Allow payment information to be visible by Campaign Owner: </label>
                                                                  <input type="radio" name="allow_visibility" value="1" checked> Yes<br>
                                                                  <input type="radio" name="allow_visibility" value="0"> No<br>
                                                             </div>

                                                             <div class="form-group">
                                                                  <label for="donator_email"> Email: </label>
                                                                 <input id="donator_email" type="email" class="form-control" name="donator_email" required />
                                                             </div>

                                                              <div class="form-group">
                                                                  <label for="amount">Crowdfunding Amount: </label>
                                                                 <input id="amount" type="number" class="form-control" name="amount" min="1" required />
                                                                  <span style="color:red" id="amount_check">All funding is in USD</span>
                                                             </div>

                                                             <div class="form-group">
                                                                 <label for="comments"> Comments: </label>
                                                                  <textarea id="comments" name="comments" class="form-control" rows="2"></textarea>
                                                             </div>

                                                             <div class="form-group">
                                                                  <label for="payment_method"> Payment Method: </label>
                                                                 <select id="payment_method" name="payment_method" class="form-control" required>
                                                                     <option value="">Select a payment Method</option>
                                                                     <option value="paypal">Paypal</option>
                                                                     <option value="mpesa">Mpesa</option>
                                                                 </select>
                                                             </div>

                                                             <div class="form-group" id="donator_phoneno_mpesa">
                                                                 <label for="donator_phoneno"> Mpesa Phone No* </label>
                                                                 <input id="donator_phoneno" class="form-control" name="donator_phoneno" type="text" placeholder="Enter with country code eg 254789098765" novalidate>
                                                             </div>

                                                             <div id="donate-paypal">
                                                                 <div id="paypal-button-container"></div>
                                                                 <div align="center">
                                                                      <button class="buttonload">
                                                                          <i class="fa fa-spinner fa-spin"></i>Loading
                                                                      </button>
                                                                 </div>
                                                             </div>

                                                            <div class="form-group" align="center" id="donate-mpesa">
                                                                <button class='btn btn-success' type="submit">Donate</button>
                                                            </div>
                                                         </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </div>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_A_out col_A_out_3 col-md-3 clearfix">
              <div class="col_A_in col_A_in_3">

                  <div class="profile_list_side">
                      <div class="profile_list_side">

                      </div>

                      <div class="profile_list_side">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
   $(document).ready(function(){
         $('#donator_phoneno_mpesa').hide();
         $('#donate-mpesa').hide();
         $('#donate-paypal').hide();
         paypal.Buttons({
            createOrder: function(data, actions) {
                  var funds = parseFloat(Math.round(document.getElementById("amount").value * 100) / 100).toFixed(2).toString();
                  console.log(funds);
                  console.log(document.getElementById("campaign_id").value);
                  return actions.order.create({
                    purchase_units: [{
                      amount: {
                        value: funds
                      }
                    }]
                  });
            },
            onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {
                // Call your server to save the transaction
                 console.log(details);
                 console.log(data);
                var responsedata = fetch('/crowdfunding/crowdfunder/paypal-transaction-complete', {
                  method: 'post',
                  headers: {
                    'content-type': 'multipart/form-data'
                  },
                  body: JSON.stringify({
                    orderID: data.orderID,
                    campaignID: document.getElementById("campaign_id").value,
                    donatorEmail: document.getElementById("donator_email").value,
                    donatorPhone: document.getElementById("donator_phoneno").value,
                    amount: document.getElementById("amount").value,
                    paymentMethod: document.getElementById("payment_method").value,
                    payerID: data.payerID,
                    comments: document.getElementById("comments").value,
                    allowVisibility: $("input[name='allow_visibility']:checked").val(),
                  })
                });
                if(responsedata){
                    console.log(responsedata);
                    //window.location.href = '/crowdfunding/crowdfunder/';
                }
              });
            }
         }).render('#paypal-button-container');
        $('#payment_method').on("change",function(e) {
            var selection = $(this).val();
             var amountselection = parseFloat(Math.round(document.getElementById("amount").value * 100) / 100).toFixed(2);
            var minamount = $('#campaign_minimum_amount').val();
            if(amountselection >= minamount){
                if(selection == "mpesa"){
                    $('#donator_phoneno_mpesa').show();
                    $('#donate-mpesa').show();
                    $('#donate-paypal').hide();
                }else{
                    $('#donator_phoneno_mpesa').hide();
                    $('#donate-mpesa').hide();
                    $('#donate-paypal').show();
                }
            }

        });

       $('#amount').on("keyup",function() {
            var amountselection = parseFloat(Math.round(document.getElementById("amount").value * 100) / 100).toFixed(2);
            var minamount = $('#campaign_minimum_amount').val();
            if(amountselection < minamount){
                $('#donator_phoneno_mpesa').hide();
                $('#donate-mpesa').hide();
                $('#donate-paypal').hide();
                document.getElementById("amount_check").textContent = "Please Enter an amount greater than "+ minamount;
            }else{
                 document.getElementById("amount_check").textContent = "All funding is in USD";
            }
       });
   });
  </script>
{% endblock %}



