{% extends 'crowdfunding/base4.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block content_1 %}

<!--partners-box area start-->
    <div id="parterns-box-id" class="partners-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                   <div class="partners-box-title">
                       <h2>Current campaigns</h2>
                    <!--  Filter Icon-->
                       <div class="partners-filter">
                           <p>
                               <i class="fas fa-filter"></i> Filters
                           </p>
                       </div>
                      <!--  Filter Icon End--> 
                    <!--   Filter Dropdown-->
                       <div id="crowdfunder-filter-dropdown-item">
                           <form method="post">
						   {% csrf_token %}
                               <div class="crowdfunder-name">
                                   <label for="">Campaign Name:</label>
                                   <input type="text" placeholder="Campaign Name" name="campaign_name">
                               </div>
                               
                               <div class="crowdfunder-select">
                                    <label for="">Select</label>

                                    <select class="company-stage-select" name="files3" id="files3">                      
                                        <option value="">Select a campaign</option>
                                          {% for campaign_sector in campaign_sectors %}
											<option value="{{campaign_sector.id}}">{{campaign_sector.name}}</option>
										  {% endfor %}
                                    </select>
                               </div>
                               <div class="filter-submit">
                                   <input type="submit" value="Filter">
                               </div>
                               
                           </form>
                       </div>
                       
                       <!--   Filter Dropdown End-->
                       <p class="vla-about">VLA provides capital providers (equity, debt and donation crowdfunding) with vetted investment opportunities and connections to qualified transaction advisors and consultants with local knowledge and track record in Africa.</p>
                   </div>

<style>
    .vla-about p{
        font-family: 'Source Sans Pro';
    }
</style>

                    <div class="row">
					{% if campaign_list %}
					{% for campaign in campaign_list %}
                        <div class="col-lg-4">
                            <div class="single-partner-box">
                                {% if campaign.campaign_image %}
                                <img src="{{ campaign.campaign_image.url }}">
                                {% else %}
                                <img src="{% static 'img/no-img.jpg' %}">
                                {% endif %}
                                <h4>{{campaign.campaign_name}}</h4>
                                <p>{{campaign.campaign_type}}</p>
                                <p class="sundry">{{campaign.short_description|truncatewords:5}}</p>
                                
                                <a href="{% url 'crowdfunding:create_donation' campaign.id %}" class="single-partner-btn">Fund</a>
                            </div>
                        </div>
                        {% endfor %}
                {% else %}
                     <div>
                        <p><b>No Available Published Campaigns </b></p>
                     </div>
                {% endif %}
                    </div>
                 </div>
			
		
	

			<!--  Sidebar area start-->
                <div class="col-lg-4">
                    <div class="profile-sidebar">
            <!--   single sidebar start-->
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Businesses</h5>
							{% for business in r_businesses %}
                            <div class="widget-elements">
							{% if business.thumbnail_image %}
                                <img src="{{ business.thumbnail_image.url }}" alt="">
                                <p><a href="{% url 'business_profile' business.pk %}">{{business.name}}</a></p>
							{% else %}
							<img src="{% static 'img/no-img.png' %}" alt="">
                                <p><a href="{% url 'business_profile' business.pk %}">{{business.name}}</a></p>
							{% endif %}
                            </div>
                            {% endfor %}
                        </div>
             <!--   single sidebar end-->
             
             <!--   single sidebar start-->  
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Funders</h5>
							{% for funder in r_investor %}
                            <div class="widget-elements">
							{% if funder.thumbnail_image %}
                                <img src="{{ funder.thumbnail_image.url }}">
                                <p>{{funder.investor_profile.user.username}}</p>
								{% else %}
								<img src="{% static 'img/funder.jpg' %}">
                                <p>{{funder.investor_profile.user.username}}</p>
								{% endif %}
                            </div>
                           {% endfor %}
                        </div>
             <!--   single sidebar end-->
                        
            <!--   single sidebar start-->         
                        <div class="recommended-business custom-widgets">
                            <h5 class="widget-title">Recommended Partners</h5>
							{% for partner in r_supporter %}
                            <div class="widget-elements">
							{% if partner.thumbnail_image %}
                                <img src="{{ partner.thumbnail_image.url }}">
								<p><a href="{% url 'supporter_profile' partner.supporter_profile.pk %}">{{partner.supporter_profile.user.username}}</a></p>
							{% else %}
							<img src="{% static 'img/blue-user-icon.svg' %}">
							<p><a href="{% url 'supporter_profile' partner.supporter_profile.pk %}">{{partner.supporter_profile.user.username}}</a></p>
							{% endif %}
                            </div>
                            {% endfor %}
                        </div>
             <!--   single sidebar end-->
                    </div>
                </div>  
                <!--  Sidebar area end-->                 
           
	 </div>
        </div>
    </div>

    <style>
        .single-partner-box{
            margin-bottom: 15px;
        }
    </style>
{% endblock %}