{% load cms_tags staticfiles %}
<div class="card card-body">
  <div class="card card-body">
    <div class="col-md-12 clearfix">
      <div class="col-md-8 col-md-offset-2 clearfix">
        <!-- Square, 350 X 350 PX -->
        {% if context.investor.thumbnail_image %}
          <img class="sidebar_avi_A" src="{{ context.investor.thumbnail_image.url }}">
        {% else %}
          <img class="sidebar_avi_A" src="{% static 'img/icon-user.png' %}">
        {% endif %}

        {% if context.investor.verified %}
        <i>{{ context.investor.name }}</i><i class='glyphicon glyphicon-ok text-primary'></i>
        {% else %}
        <i class='glyphicon glyphicon-remove'></i>
        {% endif %}
        <p>{{ context.investor.about }}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!--<h5 class="">About</h5>-->
    <h5 class=" text-primary">Company</h5>
    {{ context.investor.company }}
    <br>
    {{ context.investor.role }}, since {{ context.investor.year_operation}}
    <h5 class=" text-primary">Sectors I'm Interested In</h5>
    {{ context.investor_profile.interest_sectors }}
  </div>
  <br>
  <div class="card-body">
    <h5 class="card-title text-primary">Account Verification</h5>
    {{ context.investor_profile.verification_status }} %
  </div>
  <div class="card-body">
    <h5 class=" text-primary">Social Profiles</h5>
    {# use icons #}
    {% if context.investor.facebook_profile is not empty %}
    <p>{{ context.investor.facebook_profile }}</p>
    {% endif %}
    {% if context.investor.linkedin_profile is not empty %}
    <p>{{ context.investor.linkedin_profile }}</p>
    {% endif %}
    {% if context.investor.twitter_profile is not empty %}
    <p>{{ context.investor.twitter_profile }}</p>
    {% endif %}
    {% if context.investor.instagram_profile is not empty %}
    <p>{{ context.investor.instagram_profile }}</p>
    {% endif %}
  </div>
</div>