{% load cms_tags staticfiles %}
<div class="card card-body">
  <div class="card card-body">
    <div class="col-md-12 clearfix">
      <div class="col-md-8 col-md-offset-2 clearfix">
        <!-- Square, 350 X 350 PX -->
        {% if context.supporter.thumbnail_image %}
        <img src="{{ context.supporter.thumbnail_image.url }}">
        {% else %}
        <img src="{% static 'img/blue-user-icon.svg' %}">
        {% endif %}

        {% if context.supporter.verified %}
        <i>{{ context.supporter.fullname }}</i><i class='glyphicon glyphicon-ok text-primary'></i>
        {% else %}
        <i class='glyphicon glyphicon-remove'></i>
        {% endif %}
        <p>{{ context.supporter.about }}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h2 class="card-title text-primary">About</h2>
    <h3 class="text-primary">Track Record</h3>
    {{ context.supporter.company }}
    {{ context.supporter.year_operation}}
    {{ context.supporter.role }}
    {{ context.supporter_profile.interest_sectors }}
  </div>
  <div class="card-body">
    <h1 class="card-title text-primary">Verification</h1>
    {% if context.supporter_profile.verification_status > 0 %}
    <img src="{% static 'img/progress.png' %}">
    {% elif context.supporter_profile.verification_status >= 20 %}
    <img src="{% static 'img/progress.png' %}">
    {% elif context.supporter_profile.verification_status >= 40 %}
    <img src="{% static 'img/progress.png' %}">
    {% elif context.supporter_profile.verification_status >= 60 %}
    <img src="{% static 'img/progress.png' %}">
    {% elif context.supporter_profile.verification_status >= 80 %}
    <img src="{% static 'img/progress.png' %}">
    {% elif context.supporter_profile.verification_status >= 90 %}
    <img src="{% static 'img/progress.png' %}">
    {% else %}
    <img src="{% static 'img/progress.png' %}">
    {% endif %}
  </div>
  <div class="card-body">
    <h1 class="card-title text-primary">Contact</h1>
    {# use icons #}
    {# use icons #}
    {% if context.supporter.facebook_profile is not empty %}
    <a href="{{ context.supporter.facebook_profile }}" target="_blank"><i class='fa fa-facebook-official text-primary'
        style='font-size:48px;'></i></a>
    {% endif %}
    {% if context.supporter.linkedin_profile is not empty %}
    <a href="{{ context.supporter.linkedin_profile }}" target="_blank"><i class="fa fa-linkedin-square text-primary"
        aria-hidden="true" style='font-size:48px;'></i></a>

    {% endif %}
    {% if context.supporter.twitter_profile is not empty %}
    <a href="{{ context.supporter.twitter_profile }}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"
        style='font-size:48px; color:#55acee'></i></a>
    {% endif %}
    {% if context.supporter.instagram_profile is not empty %}
    <a href="{{ context.supporter.instagram_profile }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"
        style='font-size:48px;'></i></a>
    {% endif %}
  </div>

  <style>
    .fa.fa-instagram {
      color: transparent;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background-clip: text;
      -webkit-background-clip: text;
    }
  </style>
</div>