{% extends 'profile/base3.html' %}

{% load cms_tags staticfiles %}
{% block title %} Knowledge Center| Documents Center {% endblock title %}
{% block content %}
<div class="knowledge_wrapper full_A">

	<nav id="navbar_out_2" class="navbar navbar-default_media">
		<div class="top_container container">

			<div id="navbarX" class="navbarX1 nav_nav_second navbar-collapse collapse nav-down">
				{% url 'events_home' as  events_home %}
				<ul class="event_titles">
					<li class="active e-title_1">
						<h1>Knowledge Center</h1>
					</li>

					{% if object_list %}
					{% url 'knowledge_center_home' as  knowledge_center_home %}
					<li class="e-title_2X {% ifequal request.path knowledge_center_home %}active{% endifequal %}">
						<h4><a href="{% url 'knowledge_center_home' %}">All</a></h4>
					</li>

					{% endif %}
					{% for type in document_type %}
					{% if type.textcenter_set.count >= 1 %}
					{% url 'knowledge_center_read_content_filter' type.id as knowledge_center_read_content_filter %}

					<li class="e-title_2X {% ifequal request.path knowledge_center_read_content_filter %}active{% endifequal %}">
						<h4><a href="{% url 'knowledge_center_read_content_filter' type.id %}">{{type.title}}
							</a></h4>
					</li>

					{% endif %}
					{% endfor %}

					<li class="e-title_2X">
						<h4><a href="{% url 'knowledge_center_video_home' %}">Videos</a></h4>
					</li>

				</ul>
			</div>

		</div>
	</nav>

	<div class="tab_content">

		<div id="home" class="kn_part_1">
			<div class="container clearfix">
				<h2 class="h_title_A">REPORTS</h2>
				<div class="row clearfix">

					<!-- docs -->
					{% for obj in text_center %}
					<div class="col-md-3 clearfix single_card_wrapper">
						<div class="card_C card" style="padding-bottom: 30px;">
							<div class="card-body">
								<div class="">
									<h3 class="card-text dark-text">
										{% if obj.external_url %}
										<a target="__blank" href="{{ obj.external_url }}">{{ obj.title }}</a>
										{% else %}
										<a href="{% url 'knowledge_center_read_content' obj.id %}">{{ obj.title }}</a>
										{% endif %}
									</h3>
									{% if obj.external_url %}
									<p class="card-text" style="padding-top: 10px;">
										{% if obj.author %}
										<i class="fa fa-user" aria-hidden="true"></i>
										{{ obj.author }}
										{% endif %}
									</p>
									<p class="card-text" style="padding-top: 30px;">
										<a class="text-primary" target="__blank" href="{{ obj.external_url }}">READ MORE</a>
									</p>
									{% else %}
									<p class="card-text" style="padding-top: 10px;">
										{% if obj.file_upload %}
										<i class="fa fa-file-text" aria-hidden="true"></i>
										{% endif %}
										<i class="fa fa-tags" aria-hidden="true"></i>
										{{obj.category}}
										<i class="fa fa-money" aria-hidden="true"></i>
										{{obj.payment_status}}
										<i class="fa fa-calendar" aria-hidden="true"></i>
										{{obj.date }}
									</p>
									<p class="card-text" style="padding-top: 30px;">
										<a class="text-primary" style="" href="{% url 'knowledge_center_read_content' obj.id %}">READ
											MORE</a>
									</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>

		<div id="home2" class="full_width h_C kn_part_2">
			<div class="container clearfix">
				<h2 class="h_title_A">VIDEOS</h2>
				<div class="row clearfix">

					<!-- videos -->
					{% for video in videos %}
					<div class="col-md-6 clearfix single_card_wrapper">
						<div class="card_C card" style="">
							<div class="card-body">
								<div class="pull-left">
									<div class="videoWrapper">
										{{video.path|safe}}
									</div>
								</div>
								<p class="card-text">{{ video.author }}</p>
								<p class="card-text">
									<i class="fa fa-tags" aria-hidden="true"></i>
									{{ video.sub_category }}
									<i class="fa fa-money" aria-hidden="true"></i>
									{{ video.payment_status }}
								</p>
								<a class="text-primary" href="{% url 'knowledge_center_video_content' video.id %}">read more</a>
							</div>
						</div>
					</div>

					{% endfor %}

				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}