{% extends 'profile/base3.html' %}

{% load cms_tags staticfiles %}
{% block title %} Knowledge Center| Documents Center {% endblock title %}
{% block content %}
<div class="event_wrapper full_A">

  	<nav id="navbar_out_2" class="navbar navbar-default_media">
      	<div class="top_container container">

          <div id="navbarX" class="navbarX1 nav_nav_second navbar-collapse collapse nav-down">
              {% url 'events_home' as  events_home %}
              <ul class="event_titles">
                <li class="active e-title_1"><h1>Knowledge Center</h1></li>
                <li class="e-title_2">
                	<!--
                  <form class="url_changer url_changer1">
                    <select id="select" class="select">
                      <option value="{% url 'events_home' %}">VLA Events</option>
                      <option value="{% url 'network_events' %}">Network Events</option>
                    </select>
                  </form>
					-->

                  <form class="url_changer url_changer2">
                    <select id="select2" class="select">

						{% if object_list %}
						{% url 'knowledge_center_home' as  knowledge_center_home %}
						<option class="{% ifequal request.path knowledge_center_home %}active{% endifequal %}" value="{% url 'knowledge_center_home' %}">All</option>
						{% endif %}
						{% for type in document_type %}
						{% if type.textcenter_set.count >= 1 %}
						{% url 'knowledge_center_read_content_filter' type.id as knowledge_center_read_content_filter %}
						<option class="{% ifequal request.path knowledge_center_read_content_filter %}active{% endifequal %}" value="{% url 'knowledge_center_read_content_filter' type.id %}">{{type.title}}
						</option>
						{% endif %}
						{% endfor %}

						<option value="{% url 'knowledge_center_video_home' %}">Videos</option>
                    </select>
                  </form>
              </ul>
          </div>

        </div>
    </nav>

		</div>
		<!--
		<div>
			<ul class="nav nav-pills">
				{% url 'knowledge_center_home' as  knowledge_center_home %}
				<li class="{% ifequal request.path knowledge_center_home %}active{% endifequal %}"><a
						href="{% url 'knowledge_center_home' %}">All</a></li>
				{% for type in document_type %}
				{% if type.textcenter_set.count >= 1 %}
				{% url 'knowledge_center_read_content_filter' type.id as knowledge_center_read_content_filter %}
				<li class="dropdown">
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown"
						href="{% url 'knowledge_center_read_content_filter' type.id %}">{{type.title}}
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="{% ifequal request.path knowledge_center_read_content_filter %}active{% endifequal %}"><a
								href="{% url 'knowledge_center_read_content_filter' type.id %}">All</a></li>
						{% for sub_cat in type.document_category.all %}
						{% if sub_cat.published %}
						{% url 'knowledge_center_sub_content_filter' sub_cat.id as knowledge_center_sub_content_filter %}
						<li class="{% ifequal request.path knowledge_center_sub_content_filter %}active{% endifequal %}">
							<a href="{% url 'knowledge_center_sub_content_filter' sub_cat.id %}">{{ sub_cat.title }}</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</li>
				</li>
				{% endif %}
				{% endfor %}

				<li><a href="{% url 'knowledge_center_video_home' %}">Videos</a></li>
			</ul>
		</div>
		-->
		<div class="tab_content">

			<div id="home" class="">
				<div class="container clearfix">
					<div class="row clearfix">
						
							{% for obj in text_center %}
							<div class="col-md-6 clearfix single_card_wrapper">
								<div class="card_C card" style="">
									<div class="card-body">
										<div class="">
											<h1 class="card-text dark-text">
												{{ obj.title }}
											</h1>
											<p class="card-text">
												{% if obj.file_upload %}
												<i class="fa fa-file-text" aria-hidden="true"></i>
												{% endif %}
												<i class="fa fa-tags" aria-hidden="true"></i>
												{{obj.category}}
												<i class="fa fa-money" aria-hidden="true"></i>
												{{obj.payment_status}}
												<i class="fa fa-calendar" aria-hidden="true"></i>
												{{obj.date }}
											</p>
											<p class="card-text">
												{{ obj.description|safe|truncatewords:"70"|linebreaks }}
												<a class="text-primary" href="{% url 'knowledge_center_read_content' obj.id %}">read more</a>
											</p>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							<!---See more Reports -->

							<!-- videos -->
							{% for video in videos %}
							<div class="col-md-6 clearfix single_card_wrapper">
								<div class="card_C card" style="">
									<div class="card-body">
										<div class="pull-left">
											{{video.path|safe}}
										</div>
										<p class="card-text">{{ video.title }}</p>
										<p class="card-text">
											{{ video.description|safe|truncatewords:"70"|linebreaks }}
											<i class="fa fa-tags" aria-hidden="true"></i>
											{{video.sub_category}}
											<i class="fa fa-money" aria-hidden="true"></i>
											{{video.payment_status}}
										</p>
										<a class="text-primary" href="{% url 'knowledge_center_video_content' video.id %}">read more</a>
									</div>
								</div>
							</div>
						
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}