{% extends 'profile/base3.html' %}

{% load cms_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
<div class="full_A">
  <div class="container">
    	<div class="profile_top full_widthX">
      	<div class="profile_top_in">
      		KNOWLEDGE CENTER
      	</div>
    	</div>
	    <div>
	    	<ul class="nav nav-pills nav-justified">
			    <li class="active"><a href="#">Documents & Reports</a></li>
			    <li><a href="{% url 'knowledge_center_video_home' %}">Videos</a></li>
			  </ul>
			</div>
		  <div class="tab-content">
		  	<p>
		  		<ul class="nav nav-pills">
		  			{% url 'knowledge_center_home' as  knowledge_center_home %}
				    <li class="{% ifequal request.path knowledge_center_home %}active{% endifequal %}"><a href="{% url 'knowledge_center_home' %}">All</a></li>
				    {% for type in document_type %}
				    		{% if type.textcenter_set.count >= 1 %}
							    {% url 'knowledge_center_read_content_filter' type.id as knowledge_center_read_content_filter %}
							    	<li class="{% ifequal request.path knowledge_center_read_content_filter %}active{% endifequal %}">
							    		<a href="{% url 'knowledge_center_read_content_filter' type.id %}">{{type.title}}</a>
							    	</li>
							    {% endif %}
				    {% endfor %}
			  	</ul>
		  	</p>
		  	<div id="home" class="tab-pane fade in active">
			  	<div class="row clearfix">
			      <div class="no_padd col-md-12 clearfix">
							{% for obj in object_list %}
			            <div class="single_card_wrapper">
			              <div class="card_C card" style="">
			                <div class="card-body">
			                  <div class=""> 
			                    <h1 class="card-text dark-text">
			                    		{{ obj.title }}
			                    </h1>
			                    <p class="card-text">
			                    	{% if obj.file_upload %}
			                    		<i class="fa fa-file-text" aria-hidden="true"></i>
			                    	{% endif %}
			                    	<i class="fa fa-tags" aria-hidden="true"></i>
			                    		{{obj.category}}
			                    	<i class="fa fa-money" aria-hidden="true"></i>
			                    	  {{obj.payment_status}}
			                    	<i class="fa fa-calendar" aria-hidden="true"></i>
			                    	{{obj.date }}
			                    </p>
			                    <p class="card-text">
			                    	{{ obj.description|safe|truncatewords:"70"|linebreaks }}
			      								<a class="text-primary" href="{% url 'knowledge_center_read_content' obj.id %}">read more</a>
			                    </p>
			                  </div>
			                </div>
			              </div>
			            </div>
							{% endfor %}

							{% if is_paginated %}
							  <ul class="pagination">
							    {% if page_obj.has_previous %}
							      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
							    {% else %}
							      <li class="disabled"><span>&laquo;</span></li>
							    {% endif %}
							    {% for i in paginator.page_range %}
							      {% if page_obj.number == i %}
							        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							      {% else %}
							        <li><a href="?page={{ i }}">{{ i }}</a></li>
							      {% endif %}
							    {% endfor %}
							    {% if page_obj.has_next %}
							      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
							    {% else %}
							      <li class="disabled"><span>&raquo;</span></li>
							    {% endif %}
							  </ul>
							{% endif %}

						</div>
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}