{% extends 'crowdfunding/base3.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

<div class="full_A">
  <div class="container">
        <div class="columns_A flex row clearfix">

          <div class="col_A_out col_A_out_1 col-md-3 clearfix">
            <div class="col_A_in col_A_in_1">

                <div class="card-body progress-card text-center">

                </div>

              <div class="card card-body">

              </div>

              <div class="profile_list_side">

              </div>

              <div class="profile_list_side">


              </div>

            </div>
          </div>
          <div class="col_A_out col_A_out_2 col-md-6 clearfix">
            <div class="col_A_in col_A_in_2">
              <div class="onboarding_A">
                <div class="row clearfix">
                  <div class="col-md-12 clearfix">

                    <div class="tab-content">
                      <div id="profile" class="tab-pane fade in active">
                        <div class="col-md-12 clearfix">
                          <div class="profile_data">

                              <div class="track_record_2">
                                <div class="row clearfix">
                                  <div class="no_padd col-md-12 clearfix">
                                    <div class="single_card_wrapper">
                                      <div class="card_C card" style="">
                                        <div class="card-body">
                                          <h4 align="center"><b>Create Crowdfunding Campaign</b></h4>
                                             <form method='post' enctype="multipart/form-data">
                                                     {% csrf_token %}

                                                 <div class="form-group">
                                                     {{ form.campaign_image|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                     {{ form.campaign_name|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                     {{ form.company_name|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                 {{ form.company_email|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                       {{ form.sector|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                     <label for="short_description"> Short Description* </label>
                                                     <textarea class="form-control" name="short_description" id="short_description" rows="2" required></textarea>
                                                      <span class="help-block word-count pull-right" id="summary_count"></span>
                                                 </div>

                                                  <div class="form-group">
                                                      {{ form.long_description|as_crispy_field }}
                                                 </div>

                                                 <div class="form-group">
                                                      <label for="target_amount"> Target Amount* </label>
                                                    <input id="target_amount" type="number" name="target_amount" class="form-control" min=1 required oninput="validity.valid||(value='');">
                                                 </div>

                                                 <div class="form-group">
                                                     {{ form.duration|as_crispy_field }}
                                                    <!--<label for="duration"> Campaign Closing Date: </label>-->
                                                    <!--<input id="duration" type="date" name="duration" class="form-control" required>-->
                                                 </div>

                                                <div class="form-group" align="center">
                                                    <button class='btn btn-success' type="submit">Create</button>
                                                </div>
                                             </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </div>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col_A_out col_A_out_3 col-md-3 clearfix">
              <div class="col_A_in col_A_in_3">

                  <div class="profile_list_side">
                      <div class="profile_list_side">

                      </div>

                      <div class="profile_list_side">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
   $(document).ready(function(){
        var maxDescLength = 30;
        document.getElementById("summary_count").innerHTML="30 words remaining";
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                format: 'MM/DD/YYYY',
                minDate: new Date,
            });
        });
        $('#short_description').on('keyup', function () {
            var count = document.getElementById('short_description').value.split(' ').length;
            var remCount = maxDescLength - count;
            if(remCount <= 0){
                document.getElementById('summary_count').style.color = 'orange';
                document.getElementById("summary_count").innerHTML="Maximum Length Reached";
            }else{
                document.getElementById('summary_count').style.color = 'grey';
                document.getElementById("summary_count").innerHTML=remCount+" words remaining";
            }
        });
        $('#short_description').keypress(function(key) {
        if(document.getElementById('short_description').value.split(' ').length > maxDescLength) return false;
        });
        $('#short_description').bind("paste",function(e) {
             e.preventDefault();
        });
   });
  </script>
{% endblock %}

