{% extends 'crowdfunding/base3.html' %}
{% load cms_tags staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

<div class="full_A crowdfunding_A">
  <div class="containerX">
      <div class="columns_A flex row clearfix">

        <div class="crowd_A col-md-6 clearfix">
          <div class="white_text paddX">
            <div class="crA">
              <h1 class="xh1">How Our Crowdfunding Works</h1>
            </div>  

            <div class="crB">
              <p>
                  Short Introduction Text not longer than this sentence. Donec quam felis, ultricies nec, pellentesque eu, pretium quis.
              </p>

            </div>
            
            <div class="crC">  
              <ul>
                <li>
                    Financial capital which may be matched by a bank or other financial
                    institution;
                </li>
                <li>
                    Monetary contributions made to help verified SME owners achieve a
                    vital business or development milestone; or
                </li>
                <li>
                    Fiscal donations in return for a (pre-sale) product or new service.
                <p></p>
                </li><li>
                    In the case of Reward crowdfunding, the company will provide a product or
                    service in return for a crowdsourced financial contribution.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col_A_out col_A_out_2 col-md-6 clearfix">
          <div class="col_A_in col_A_in_2">
            <div class="onboarding_A">
              <div class="row clearfix">
                <div class="col-md-12 clearfix">

                  <div class="tab-content">
                    <div id="profile" class="tab-pane fade in active">
                      <div class="col-md-12 clearfix">
                        <div class="profile_data">

                            <div class="track_record_2">
                              <div class="row clearfix">
                                <div class="no_padd col-md-12 clearfix">
                                  <div class="single_card_wrapper">
                                    <div class="card_D card" style="">
                                      <div class="card-body">
                                        <h2>Create a Campaign</h2>
                                           <form method='post' enctype="multipart/form-data">
                                                   {% csrf_token %}

                                               <div class="form-group">
                                                   {{ form.campaign_image|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                   {{ form.campaign_name|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                   {{ form.company_name|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                               {{ form.company_email|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                     {{ form.sector|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                   <label for="short_description"> Campaign Title* </label>
                                                   <textarea class="form-control" name="short_description" id="short_description" rows="2" required></textarea>
                                                    <span class="help-block word-count pull-right" id="summary_count"></span>
                                               </div>

                                                <div class="form-group">
                                                    {{ form.long_description|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                    <label for="target_amount"> Target Amount* </label>
                                                  <input id="target_amount" type="number" name="target_amount" class="form-control" min=1 required oninput="validity.valid||(value='');">
                                               </div>

                                               <div class="form-group">
                                                    {{ form.minimum_donation|as_crispy_field }}
                                               </div>

                                               <div class="form-group">
                                                   {{ form.duration|as_crispy_field }}
                                                  <!--<label for="duration"> Campaign Closing Date: </label>-->
                                                  <!--<input id="duration" type="date" name="duration" class="form-control" required>-->
                                               </div>

                                               <div class="form-group">
                                                   <select class="form-control" name="campaign_type" id="campaign_types" required>
                                                       <option value="">Select campaign type</option>
                                                       <option value="REWARD BASED">Reward Based</option>
                                                       <option value="DONATION BASED">Donation Based</option>
                                                   </select>
                                               </div>

                                               <div class="form-group" id="campaign_threshold">
                                                     <!--{{ form.campaign_reward_threshold|as_crispy_field }}-->
                                                   <label for="campaign_reward_threshold"> Campaign Reward Threshold* </label>
                                                   <input id="campaign_reward_threshold" class="form-control" name="campaign_reward_threshold" type="number" novalidate>
                                               </div>

                                               <div class="form-group" id="reward_dets">
                                                     <!--{{ form.campaign_reward_details|as_crispy_field }}-->
                                                   <label for="campaign_reward_details"> Campaign Reward Details </label>
                                                   <textarea id="campaign_reward_details" rows="2" name="campaign_reward_details" class="form-control" novalidate></textarea>
                                               </div>

                                              <div class="form-group" align="center">
                                                  <button class='btn btn-success' type="submit">Create</button>
                                              </div>
                                           </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                        </div>
                      </div>
                    </div>

                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
   $(document).ready(function(){
        $('#campaign_threshold').hide();
        $('#reward_dets').hide();
        var maxDescLength = 30;
        document.getElementById("summary_count").innerHTML="30 words remaining";
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                format: 'MM/DD/YYYY',
                minDate: new Date,
            });
        });
        $('#short_description').on('keyup', function () {
            var count = document.getElementById('short_description').value.split(' ').length;
            var remCount = maxDescLength - count;
            if(remCount <= 0){
                document.getElementById('summary_count').style.color = 'orange';
                document.getElementById("summary_count").innerHTML="Maximum Length Reached";
            }else{
                document.getElementById('summary_count').style.color = 'grey';
                document.getElementById("summary_count").innerHTML=remCount+" words remaining";
            }
        });
        $('#short_description').keypress(function(key) {
        if(document.getElementById('short_description').value.split(' ').length > maxDescLength) return false;
        });
        $('#short_description').bind("paste",function(e) {
             e.preventDefault();
        });
        $('#campaign_types').on("change",function(e) {
            var selection = $(this).val();
            if(selection == "REWARD BASED"){
                $('#campaign_threshold').show();
                $('#reward_dets').show();
            }else{
                $('#campaign_threshold').hide();
                $('#reward_dets').hide();
            }

        });
   });
  </script>
{% endblock %}

