{% extends 'profile/base3.html' %}

{% load cms_tags staticfiles event_filters %}
{% block title %}Event | {{ content.title }} {% endblock title %}
{% block content %}
{% if content.published %}

<div class="single_event full_A">
  <div class="container single_post_container">
    <span class="actions">
      {% url 'event_view_content' content.id as  event_view_content %}
      {% if request.path == event_view_content %}
      {% is_attendee content as is_in_attendee_list %}
      <a href="{% url 'events_home' %}" class="btn btn-primary">Back</a>
      {% if is_in_attendee_list == True %}
      <a class="btn btn-warning" href="{% url 'event_register' content.id %}">Register</a>
      {% else %}
      <a class="btn btn-success" href="#">
        <ion-icon name="star"></ion-icon> Registered
      </a>
      {% endif %}
      {% else %}
      <a href="{% url 'network_events' %}" class="btn btn-primary">Back</a>
      {% if content.registration_required == 'YES'%}
      <a class="btn btn-warning" href="{{ obj.registration_url }}" target="_blank">Register</a>
      {% endif %}
      {% endif %}
    </span>

    <div class="row clearfix">
      <div class="col-md-8 col-md-offset-2">
        <div class="single_header">
          <h1 class="style_D">{{ content.title|upper }}</h1>
          <p class="meta">
            <span>
              <i class="fa fa-tags" aria-hidden="true"></i> {{ content.category}}
            </span>
            <span>
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              {{ content.author.username }}
            </span>
            <span>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{ content.location }}
            </span>
          </p>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="card_content">
              <h2>Event Description</h2>
              {{content.description}}
            </div>
            {% if content.event_banner %}
            <div class="card_content">
              <img src="{{ content.event_banner.url }}" width="750" height="500">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-2 clearfix">
        <p class="card-text">Recommended Events</p>
        {% for event in recommended %}
        {% if event.id != event.id %}
        <h5>
          <a class="card-text" href="{% url 'event_view_content' read.id %}">
            {{ event.title|upper }}
          </a>
        </h5>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="container single_post_container">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-dark">
          Event Not Yet Published
        </p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}