{% extends 'base3.html' %}

{% load cms_tags staticfiles event_filters %}
{% block title %}Event | {{ content.title }} {% endblock title %}
{% block content %}
{% if content.published %}

<div class="single_event_in full_A">

  <nav id="navbar_out_2" class="navbar navbar-default_media">
      <div class="top_container container">    
          <div id="navbarX" class="navbarX1 nav_nav_second navbar-collapse collapse nav-down">
              {% url 'events_home' as  events_home %}

              <div class="single_event_title col-md-9 clearfix">
                <h1>{{ content.title }}</h1>
                <div class="single_event_metaX">
                  <p class="meta">
                    {{ content.category}} in {{ content.location }} &nbsp; &nbsp; | &nbsp; &nbsp; {{content.start_date }} &mdash; {{content.end_date }}
                  </p>
                </div>                
              </div>
              <div class="single_event_side col-md-3 clearfix">

                <div class="single_event_button_wrap single_event_actions">
                  {% url 'event_view_content' content.id as  event_view_content %}
                  {% if request.path == event_view_content %}
                  {% is_attendee content as is_in_attendee_list %}
                  <!--<a href="{% url 'events_home' %}" class="btn btn-primary">Back</a>-->
                  {% if is_in_attendee_list == True %}
                  <a class="btn btn-lg btn-primary btn-block" href="{% url 'event_register' content.id %}"><ion-icon name="add"></ion-icon> Register</a>
                  {% else %}
                  <a class="btn btn-lg btn-success btn-block" href="#">
                    <ion-icon name="checkmark"></ion-icon> Registered
                  </a>
                  {% endif %}
                  {% else %}
                  <!--<a href="{% url 'network_events' %}" class="btn btn-primary">Back</a>-->
                  {% if content.registration_required == 'YES'%}
                  <a class="btn btn-warning" href="{{ obj.registration_url }}" target="_blank">Register</a>
                  {% endif %}
                  {% endif %}
                </div>

              </div>

          </div>
      </div>
  </nav>

  <div class="container single_post_container">


    <div class="page_with_2_sections_e row clearfix">

      <div class="col-md-9 clearfix s_e_sidebar">
        <div class="s_e_4 s_e_in">

          {% if content.event_banner %}
            <div class="single_event_image">
              <img src="{{ content.event_banner.url }}" width="" height="">
            </div>  
          {% endif %} 

          <div class="single_event_content">
            {{content.description}}              
          </div>       

        </div>

      </div>   

      <div class="col-md-3 clearfix s_e_sidebar">
        <div class="s_e_3 s_e_in">

          <div class="list-group">
            <a href="{% url 'events_home' %}" class="list_title list-group-item">
              VLA Events
            </a>
            {% if object_list %}
              <a class="list-group-item {% ifequal request.path events_home %}active{% endifequal %}" href="{% url 'events_home' %}">All</a>
            {% endif %}   

            {% for type in event_type %}
              {% if type.events_set.count >= 1 %}
              {% url 'event_view_content_filter' type.id as event_view_content_filter %}
              <a class="list-group-item {% ifequal request.path event_view_content_filter %}active{% endifequal %}" href="{% url 'event_view_content_filter' type.id %}">{{type.title}}
              </a>
              {% endif %}
            {% endfor %}  
            <a href="{% url 'network_events' %}" class="list_title list-group-item">
              Network Events
            </a>

            {% if object_list %}
            <a class="list-group-item {% ifequal request.path network_events %}active{% endifequal %}"
                href="{% url 'network_events' %}">All</a>
            {% endif %}
            {% for type in event_type %}
            {% if type.network_events.count >= 1 %}
            {% url 'network_event_filter' type.id as network_event_filter %}
            <a class="list-group-item {% ifequal request.path network_event_filter %}active{% endifequal %}" href="{% url 'network_event_filter' type.id %}">{{type.title}}</a>
            {% endif %}
            {% endfor %}          
          </div>          

          <div class="side_events">
            <h4 class="card-text">Recommended Events</h4>
            {% for event in recommended %}
            {% if event.id != event.id %}
            <h5>
              <a class="card-text" href="{% url 'event_view_content' read.id %}">
                {{ event.title }}
              </a>
            </h5>
            {% endif %}
            {% endfor %}
         </div>

        </div>
      </div>
   
    </div>


  </div>
  {% else %}
  <div class="container single_post_container">
    <div class="card">
      <div class="card-body">
        <p class="card-text text-dark">
          Event Not Yet Published
        </p>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}