{% extends 'profile/base3.html' %}

{% load cms_tags staticfiles event_filters %}
{% block title %}Events{% endblock title %}
{% block content %}
<div class="event_wrapper full_A">

  <nav id="navbar_out_2" class="navbar navbar-default_media">
      <div class="top_container container">    

          <div id="navbarX" class="navbarX1 nav_nav_second navbar-collapse collapse nav-down">
              {% url 'events_home' as  events_home %}
              <ul class="event_titles">
                <li class="active e-title_1"><h1>Events</h1></li>
                <li class="e-title_2">
                  <form class="url_changer url_changer1">
                    <select id="select" class="select">
                      <option value="{% url 'events_home' %}">VLA Events</option>
                      <option value="{% url 'network_events' %}">Network Events</option>
                    </select>
                  </form>  

                  <form class="url_changer url_changer2">
                    <select id="select2" class="select">
                      {% if object_list %}
                        <option class="{% ifequal request.path events_home %}active{% endifequal %}" value="{% url 'events_home' %}">All</option>
                      {% endif %}   

                      {% for type in event_type %}
                        {% if type.events_set.count >= 1 %}
                        {% url 'event_view_content_filter' type.id as event_view_content_filter %}
                        <option class="{% ifequal request.path event_view_content_filter %}active{% endifequal %}" value="{% url 'event_view_content_filter' type.id %}">{{type.title}}
                        </option>
                        {% endif %}
                      {% endfor %}                                         
                    </select>
                  </form>                                   
              </ul>
          </div>
          
      </div>
  </nav>

  <div class="container">
    <div class="tab-content">

      <!--
      <ul class="nav nav-pills">
        {% if object_list %}
        <li class="{% ifequal request.path events_home %}active{% endifequal %}"><a
            href="{% url 'events_home' %}">All</a>
        </li>
        {% endif %}
        {% for type in event_type %}
        {% if type.events_set.count >= 1 %}
        {% url 'event_view_content_filter' type.id as event_view_content_filter %}
        <li class="{% ifequal request.path event_view_content_filter %}active{% endifequal %}">
          <a href="{% url 'event_view_content_filter' type.id %}">{{type.title}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      -->

      <div class="row clearfix">
        
          {% for obj in object_list %}
          {% if obj.published %}
            <div class="no_padd col-md-4 clearfix">
              <div class="event_box">
                <div class="event_box_in">
                  <figure class="event_image">
                    <a href="{% url 'event_view_content' obj.id %}">
                      {% if obj.event_banner %}
                        <img src="{{ obj.event_banner.url }}" width="" height="">
                      {% else %}
                        <img src="{% static 'img/home_section_3.png' %}" width="" height="">
                      {% endif %}                    
                    </a>
                  </figure>
                  <div class="event_content">
                    <h4 class="event_title">
                      <a href="{% url 'event_view_content' obj.id %}">{{ obj.title }}</a>
                    </h4>
                    <div class="event_action">
                      {% is_attendee obj as is_in_attendee_list %}
                      {% if is_in_attendee_list == True %}
                      <a class="btn btn-primary" href="{% url 'event_register' obj.id %}"><ion-icon name="add"></ion-icon>  Register</a>
                      {% else %}
                      <a class="btn btn-success" href="#">
                        <ion-icon name="checkmark"></ion-icon> Registered
                      </a>
                      {% endif %}
                      <div class="event_meta">
                        {{obj.category}}
                        {{obj.start_date }} - {{obj.end_date }}
                        {{obj.location }}                      
                      </div>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {% endfor %}

          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}