{% extends 'profile/base.html' %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content_1 %}

<div class="col_A_in col_A_in_2">
  <!-- Square, 350 X 350 PX -->
  {% if business_profile.thumbnail_image %}
  <img src="{{ business_profile.thumbnail_image.url }}">
  {% else %}
  <img src="{% static 'img/no-img.jpg' %}">
  {% endif %}

  <h1>{{ business_profile.name }}

    {% if business_profile.verified %}
    <i class='glyphicon glyphicon-ok text-primary'></i>
    {% else %}
    <i class='glyphicon glyphicon-remove'></i>
    {% endif %}
  </h1>
  <p>Business Sector {{ business_profile.sector }}</p>
  <p>Email {{ business_profile.company_primary_email }}</p>
  <p>Facebook {{ business_profile.facebook_profile }}</p>
  <p>Linkeldn{{ business_profile.linkedin_profile }}</p>
  <p>Twitter {{ business_profile.twitter_profile }}</p>
  <p>Instagram {{ business_profile.instagram_profile }}</p>
  <p>Address {{ business_profile.address }}</p>
  <p>Proposition Statement {{ business_profile.value_proposition_statement }}</p>
</div>

{% endblock %}
{% block content_2 %}
<div class="company_filter">
  <h4>Sidebar</h4>
</div>
{% endblock %}