{% extends 'portal_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="full_A">
    <div class="columns_A flex row clearfix">
        <div class="col_A_out col_A_out_1 col-md-3 clearfix">
            <div class="col_A_in col_A_in_1">
                <!--
                <figure class="user_icon_nav_2 side_nav">
                    <img src="http://localhost:8000/static/img/icon-user3.png" alt="Welcome">
                </figure>                
                <h4 class="style_F">{{ user.get_username }}</h4>
                -->

                <ul class="actions_A">
                    <li><a href="#nogo">Edit my profile</a></li>
                    <li><a href="{% url 'my_business' %}">Add business</a></li>
                    <li><a href="{% url 'new_blog_post' %}">New Blog Post</a></li>
                </ul>
            
            </div>  
        </div>  
        <div class="col_A_out col_A_out_2 col-md-7 clearfix">
            <div class="col_A_in col_A_in_2">
                <form method='post'>
                  {% csrf_token %}
                  <div class="form-group col-md-6 mb-0">
                    {{ form|crispy }}
                    <button type='submit' class='btn btn-primary'>Create Post</button>
                  </div>
                </form>             
            </div>              
        </div>
        <div class="col_A_out col_A_out_3 col-md-2 clearfix">
            <div class="col_A_in col_A_in_3">
                <h4>Sidebar</h4>
            </div>              
        </div>        
    </div>
</div>

{% endblock %}