{% extends 'profile/base.html' %}
{% load crispy_forms_tags %}

{% block content_1 %}

<div class="col_A_in col_A_in_2">
    <h2>Eligibility screening</h2>
    {% if step1 %}
    <h3>Stage 1: Create my Profile</h3>
    {% elif step2 %}
    <h3>Stage 2: Update Profile</h3>
    {% endif %}
    <div>
        <form method='post'>
            {% csrf_token %}
            {{form|crispy }}
            <button class='btn btn-success'>Save and continue</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content_2 %}
<div class="company_filter">
    <h4>Sidebar</h4>
</div>
{% endblock %}