{% extends 'profile/base.html' %}
{% block content_1 %}

<div class="col_A_in col_A_in_2">
    
    <ul class="home_p_navs">
        <li><a class="current" href="#nogo">Timeline</a></li>
        <li><a href="#nogo">My Updates</a></li>
        <li><a href="#nogo">My Settings</a></li>
    </ul>

    {% for post in object_list %}
    <div class="card">
        <div class="card-body">
            <h4><a href="#nogo">{{post.title}}</a></h4>
            {% if post.author %}
            <p>Author: {{post.author}}</p>
            {% else %}
            <p>Company: {{post.company}}</p>
            {% endif %}

            <figure class="box_list_details">
                <ul class="box_list_B">
                    <li class="b_list_icon"><img src="http://52.37.84.193:8081/static/img/blue-user-icon.svg"></li>
                    <li class="b_list_title">
                        <a href="#nogo">{% if post.author %}{{post.author}}{% else %}{{post.company}}{% endif %}</a>
                        <p>{% if post.author %}Partner/Funder{% else %}Business{% endif %}</p>
                    </li>
                    <li class="b_list_social">
                        <a href="#nogo"><button class="btn-actioned btn btn-sm btn-default">Following</button></a>
                    </li>
                </ul>    
            </figure>

            <div class="card_summary">
                <p>{{post.body|safe|truncatechars:250}} <a href=''>Read more</a></p>
            </div>  
        </div>    
        <div class="card_footer">
            {% if request.user in post.likes.all %}
            <a href="{% url 'dislike_post' post.id %}"><i class='glyphicon glyphicon-heart'></i> Unlike
                ({{post.likes.count}} likes)</a>
            {% else %}
            <a href="{% url 'like_post' post.id %}"><i class='glyphicon glyphicon-heart'></i> Like
                ({{post.likes.count}} likes)</a>
            {% endif %}
            <a href=""><i class='glyphicon glyphicon-comment'></i> Comment</a>
        </div>          
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block content_2 %}
<div class="company_filter">
    <h4>Sidebar</h4>
</div>
{% endblock %}