{% extends 'profile/base3.html' %}
{% load crispy_forms_tags %}

{% block content %}


<link rel="stylesheet" type="text/css"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  .section {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0px 10px;
  }

  .section>div {
    flex: 1;
    padding: 0.5rem;
    margin: 5px;
  }

  .section input[type="radio"] {
    display: none;

    &:not(:disabled)~label {
      cursor: pointer;
    }

    &:disabled~label {
      color: hsla(150, 5%, 75%, 1);
      border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  .section label {
    height: 100%;
    display: block;
    background: white;
    border: 1px solid hsla(150, 75%, 50%, 0.15);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    color: #20df80;
  }

  .section input[type="radio"]:checked+label {
    background: hsla(150, 75%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);

    &::after {
      color: hsla(215, 5%, 25%, 1);
      font-family: FontAwesome;
      border: 2px solid hsla(150, 75%, 45%, 1);
      content: "\f00c";
      font-size: 24px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
    }
  }

  .section input[type="radio"]#control_05:checked+label {
    background: red;
    border-color: red;
  }

  @media only screen and (max-width: 700px) {
    .section {
      flex-direction: column;
    }
  }

  section.section h2 {
    font-weight: 100;
    font-size: 1.7em;
    margin-top: 26px;
  }
</style>



<div class='container'>
  <div class="onboarding_A">


    <div class="row clearfix">
      <form action="{% url 'profile_create' %}" method="POST">
        {% csrf_token %}
        <div class="col-md-6 col-md-offset-3 clearfix">
          <div class="text-center">
            <h3>Great! Let's start by setting up your profile</h3>
            <br>
          </div>

          <section class="section">
            <div>
              <input type="radio" id="control_01" name="profile_choice" value="Business" checked>
              <label for="control_01">
                <div class="select_icon">
                  <ion-icon name="briefcase"></ion-icon>
                </div>
                <h2>I am a business</h2>
              </label>
            </div>
            <div>
              <input type="radio" id="control_02" name="profile_choice" value="Investor">
              <label for="control_02">
                <div class="select_icon">
                  <ion-icon name="sunny"></ion-icon>
                </div>
                <h2>I am a funder</h2>
              </label>
            </div>
            <div>
              <input type="radio" id="control_03" name="profile_choice" value="Supporter">
              <label for="control_03">
                <div class="select_icon">
                  <ion-icon name="people"></ion-icon>
                </div>
                <h2>I am a partner</h2>
              </label>
            </div>
          </section>

          <figure class="btn_cover">
            <button class="btn btn-B">Next &rarr;</button>
          </figure>
        </div>
      </form>
    </div>













  </div>
</div>

{% endblock %}