{% extends 'profile/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class='container'>
        {% if step1 %}
        <h3>Stage 1: Eligibility screening</h3>
        {% elif step2 %}
        <h3>Stage 2: Describe your product and Market</h3>
        {% elif step3 %}
        <h3>Stage 3: Business Model</h3>
        {% elif step4 %}
        <h3>Stage 3: Your team</h3>
        {% elif step5 %}
        <h3>Stage 5: Business Finance</h3>
        {% elif step6 %}
        <h3>Stage 6: Investor Information</h3>
        {% else %}
        <h3>Stage 7: Goals/challenges</h3>
        {% endif %}
        <div>
            <form method='post'>
                {% csrf_token %}
                {{form|crispy }}
                <button class='btn btn-success'>Go to next step</button>
            </form>
            <br/>
            <a href="{% url 'my_business' %}"><button class='btn btn-success'>Continue later</button></a>
        </div>
    </div>
{% endblock %}